@import '~govuk-frontend';
@import 'scrollbar';
@import 'tabs';

.warning-color {
  color: $govuk-error-colour;
}

.disable-tab {
  opacity: 40%;
  pointer-events: none;
}

// sass-lint:disable class-name-format
.govuk-tabs__list-item {
  font-size: 1.1495rem;
}

$blue: #1d70b8;

.courts-table-header-inactive {

  color: govuk-colour("blue", $legacy: "blue-3");

  &:after {
    border-color: govuk-colour("blue", $legacy: "dark-blue-3");
    content: "\2B65";
  }

  &:hover {
    color: govuk-colour("dark-blue", $legacy: "dark-blue-3");
    cursor: pointer;
  }
}

.courts-table-header-asc {

  color: govuk-colour("blue", $legacy: "blue-3");

  &:after {
    border-color: govuk-colour("blue", $legacy: "dark-blue-3");
    content: "\2193";
  }

  &:hover {
    color: govuk-colour("dark-blue", $legacy: "dark-blue-3");
    cursor: pointer;
  }
}

.courts-table-header-desc {

  color: govuk-colour("blue", $legacy: "blue-3");

  &:after {
    border-color: govuk-colour("blue", $legacy: "dark-blue-3");
    content: "\2191";
  }

  &:hover {
    color: govuk-colour("dark-blue", $legacy: "dark-blue-3");
    cursor: pointer;
  }
}
