@import 'govuk-frontend';
@import 'scrollbar';
@import 'tabs';

.warning-color {
  color: $govuk-error-colour;
}

.disable-tab {
  opacity: 40%;
  pointer-events: none;
}

// sass-lint:disable class-name-format
.govuk-tabs__list-item {
  font-size: 1.4rem;
}


.courts-table-header-inactive {

  color: govuk-colour('blue', $legacy: 'blue-3');

  &::after {
    border-color: govuk-colour('blue', $legacy: 'dark-blue-3');
    content: '\2B65';
  }

  &:hover {
    color: govuk-colour('dark-blue', $legacy: 'dark-blue-3');
    cursor: pointer;
  }
}

.courts-table-header-asc {

  color: govuk-colour('blue', $legacy: 'blue-3');

  &::after {
    border-color: govuk-colour('blue', $legacy: 'dark-blue-3');
    content: '\2193';
    margin-left: 5px;
  }

  &:hover {
    color: govuk-colour('dark-blue', $legacy: 'dark-blue-3');
    cursor: pointer;
  }
}

.courts-table-header-desc {

  color: govuk-colour('blue', $legacy: 'blue-3');

  &::after {
    border-color: govuk-colour('blue', $legacy: 'dark-blue-3');
    content: '\2191';
    margin-left: 5px;
  }

  &:hover {
    color: govuk-colour('dark-blue', $legacy: 'dark-blue-3');
    cursor: pointer;
  }
}

.no-display {
  display: none;
}

.table-fixed {
  table-layout: fixed;
}

.table-data-overflow {
  overflow: scroll;
}

.pub-navigation {
  @media (min-width: 641px) {
    .moj-sub-navigation__item {
      &:last-child {
        float: right;
      }
    }

    .govuk-service-navigation__item {
      &:last-child {
        margin-left: auto;
      }
    }
  }
}
