@import '~govuk-frontend';
@import 'scrollbar';
@import 'tabs';

.warning-color {
  color: $govuk-error-colour;
}

.disable-tab {
  opacity: 40%;
  pointer-events: none;
}

// sass-lint:disable class-name-format
.govuk-tabs__list-item {
  font-size: 1.1495rem;
}

$blue: #1d70b8;

.courts-table-header {

  color: govuk-colour("blue", $legacy: "blue-3");
  height: auto;

  &:after {
    border-color: govuk-colour("blue", $legacy: "dark-blue-3");
    content: "\25BC";
    // 2191 - up arrow
    // 2193 - down arrow


    // 005E - partial up
    //
    // 25BC - down triangle
    // 25B2 - up triangle
    margin-left: 10px;
    vertical-align: middle;
  }

  &:hover {
    color: govuk-colour("dark-blue", $legacy: "dark-blue-3");
  }
}
