{% from "govuk/components/tabs/macro.njk" import govukTabs %}


{% extends "template.njk" %}


{% block content %}
  <h1 class="govuk-heading-xl">Manage Users</h1>

   {% set inviteUserHtml %}
      {% include "./tabs/inviteUser.njk" %}
   {% endset -%}

{{ govukTabs({
            id: 'Main',
            items: [
            {
              label: "Create User",
              id: "invite-user",
            panel: {
                html: inviteUserHtml
                }
            }
            ]
          }) }}

{% endblock %}

