{% extends "template.njk" %}

{% block content %}
<h3 class="govuk-heading-m">Logged out</h3>
<p class="govuk-body">
  You have been logged out, click <a id="login" href="/login">here</a> to log back in.
</p>
{% endblock %}
