{% extends "template.njk" %}

{% block pageTitle %}This version of Find a Court or Tribunal is no longer in use - GOV.UK{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">This version of Find a Court or Tribunal is no longer in use.</h1>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        Please use the <a class="govuk-link" href="{{ newAdminUrl }}">new service</a> to keep your court up to date in preparation for the release of the new public site.
      </p>

      <p class="govuk-body">
        If you require urgent changes making to the existing public site please raise a request in HALO.
      </p>
    </div>
  </div>
{% endblock %}
