{% extends "govuk/template.njk" %}

{% block head %}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block pageTitle %}
  Find a court or tribunal - GOV.UK
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
  {% include "webpack/js.njk" %}
{% endblock %}
