{% extends "govuk/template.njk" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block head %}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    useTudorCrown: true
  }) }}

  {% if isLoggedIn %}
    {{ govukServiceNavigation({
      serviceName: "FaCT Admin",
      serviceUrl: "/",
      navigation: [
        {
          href: "/courts",
          text: "courts",
          active: true if activeCourtPage else false
        },
        {
          href: "/lists",
          text: "lists",
          active: true if activeListsPage else false
        } if isSuperAdmin,
        {
          href: "/courts/download",
          text: "download csv"
        } if errors|length == 0,
        {
          href: "/courts/add-court",
          text: "add new court",
          active: true if activeAddNewCourtPage else false
        } if isSuperAdmin,
        {
          href: "/bulk-update",
          text: "bulk update",
          active: true if activeBulkUpdatePage else false
        } if isSuperAdmin,
        {
          href: "/audits",
          text: "audits",
          active: true if activeAuditPage else false
        } if isSuperAdmin,
        {
          href: "/users",
          text: "users"
        } if isSuperAdmin,
        {
          href: "/logout",
          text: "log out"
        }
      ]
    }) }}
  {% endif %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block pageTitle %}
  Find a court or tribunal - GOV.UK
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
