{% extends "govuk/template.njk" %}

{% block head %}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block beforeContent %}
  {% if isLoggedIn %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

        <a id="courts" class="govuk-link govuk-link--no-visited-state govuk-!-padding-right-3" href="/courts">
          courts
        </a>

        {% if isSuperAdmin %}
          <a id="lists" class="govuk-link govuk-link--no-visited-state govuk-!-padding-right-3" href="/lists">
            lists
          </a>
        {% endif %}

        {% if errors|length == 0 %}
          <a class="govuk-link govuk-link--no-visited-state govuk-!-padding-right-3" href="/courts/download">
            download csv
          </a>
        {% endif %}

        {% if isSuperAdmin %}
          <a id="add-court-nav" class="govuk-link govuk-link--no-visited-state govuk-!-padding-right-3" href="/courts/add-court">
            add new court
          </a>
          <a id="bulk-update" class="govuk-link govuk-link--no-visited-state govuk-!-padding-right-3" href="/bulk-update">
            bulk update
          </a>
          <a id="audits" class="govuk-link govuk-link--no-visited-state govuk-!-padding-right-3" href="/audits">
            audits
          </a>
           <a id="users" class="govuk-link govuk-link--no-visited-state govuk-!-padding-right-3" href="/users">
                      users
            </a>
        {% endif %}
      </div>

      <div class="govuk-grid-column-one_quarters">
        <a id="my-account" class="govuk-link govuk-link--no-visited-state govuk-!-padding-left-9 govuk-!-padding-right-3" href="#">
          my account
        </a>
        <a id="logout" class="govuk-link govuk-link--no-visited-state" href="/logout">
          log out
        </a>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block pageTitle %}
  Find a court or tribunal - GOV.UK
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
