{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

<h2 class="govuk-heading-l">Editing user - {{ user.email }}</h2>

{% if errors|length %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}

{% set forenameError = false %}
  {% if user.firstName === '' %}
   {% set forenameError = { text: 'First Name is required' } %}
  {% endif %}

 {% set surnameError = false %}
   {% if user.surname === '' %}
    {% set surname = { text: 'Last Name is required' } %}
  {% endif %}

 {% set rolesError = false %}
   {% if not user.roles|length and errors|length  %}
   {% set rolesError = { text: 'Assigned role is required' } %}
 {% endif %}

 {% set adminRoleChecked = false %}
 {%  if 'fact-admin' in user.roles %}
  {% set adminRoleChecked = true %}
 {% endif %}

 {% set superAdminRoleChecked = false %}
 {%  if 'fact-super-admin' in user.roles %}
   {% set superAdminRoleChecked = true %}
 {% endif %}

<input type="hidden" id="user-id" name="user-id" value={{ user.id }}>
<input type="hidden" id="user-email" name="user-email" value={{ user.email }}>

{% call govukFieldset({
  }) %}

  {{ govukInput({
    label: {
      text: "First Name"
    },
    classes: "govuk-input--width-20",
    id: "forename",
    name: "user[forename]",
    value: user.forename,
    errorMessage: forenameError
  }) }}

  {{ govukInput({
    label: {
      text: "Last Name"
    },
    classes: "govuk-input--width-20",
    id: "surname",
    name: "user[surname]",
    value: user.surname,
    errorMessage: surnameError
  }) }}


  {{ govukRadios({
    classes: "govuk-radios--small",
    id: "roles",
    name: "userRole",
    errorMessage: rolesError,
    fieldset: {
      legend: {
        text: "Assigned Roles",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
        text: "Select the role that is assigned to this user."
     },
    items: [
      {
        value: "fact-admin",
        text: "fact-admin",
        checked: adminRoleChecked
      },
      {
        value: "fact-super-admin",
        text: "fact-super-admin",
        checked: superAdminRoleChecked
      }
    ]
  }) }}

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Edit User",
      name: "editUser",
      attributes: { id: "submitEditUserBtn" }
    }) }}

    {{ govukButton({
      text: "Delete account",
      attributes: { id: "deleteUserBtn" },
      classes: "govuk-button--warning"
    }) }}

    {{ govukButton({
      text: "Cancel",
      name: "cancelEditUser",
      attributes: { id: "cancelEditUserBtn" },
      classes: "govuk-button--secondary"
    }) }}
  </div>
{% endcall %}
