{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}


  {{ govukPanel({
      titleText: "User invited successfully"
    }) }}

{{ govukInsetText({
  text: "The user has been registered and should now receive an email. They will need to activate their account using the link in the email before they can sign in."
}) }}

{{ govukButton({
  text: "Create another user",
  name: "InviteAnotherUser",
  classes: "cancel-changes",
  attributes: { id: "inviteAnotherUser" }
}) }}
