{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

<h2 class="govuk-heading-l">Invite new user to Find a Court or Tribunal</h2>

{% if errors|length %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}


<input type="hidden" id="user" name="user" value={{user}}></input>

  {{ govukInput({
    label: {
      text: "Password"
    },
    hint: {
        text: "Please enter your password and click confirm to complete the user invite process."
      },
    classes: "govuk-input--width-20",
    id: "password",
    name: "password",
    type: "password",
    errorMessage: errors|length
  }) }}

<div class="govuk-button-group">
{{ govukButton({
  text: "Confirm",
  name: "confirmInvite",
   attributes: { id: "confirmInvite"}
}) }}

{{ govukButton({
  text: "Cancel",
  name: "cancelConfirmInvite",
  attributes: { id: "cancelConfirmChangesBtn" },
  classes: "govuk-button--secondary cancel-changes"
}) }}
</div>
