{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

<h2 class="govuk-heading-l">Edit a User</h2>

{% if errors|length %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}

{% if updated === true %}
  {{ govukPanel({
    titleText: "User details successfully updated"
  }) }}
{% endif %}

{% if userRolesRemoved === true %}
  {{ govukPanel({
    titleText: "User roles successfully removed"
  }) }}
{% endif %}

{{ govukInput({
  label: {
    text: "Please enter the user’s email address"
  },
  id: "search-user-email",
  name: "user-email",
  value: userEmail
}) }}

{{ govukButton({
  text: "Search",
  name: "searchUser"
}) }}
