{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "template.njk" %}


{% block content %}
  <h1 class="govuk-heading-xl">Bulk edit of additional information</h1>
  {% if updated %}
    <div class="govuk-panel govuk-panel--confirmation" id="updated-message">
      <h1 class="govuk-panel__title">
        Court information updated
      </h1>
    </div>
  {% elif error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: error
        }
      ]
    }) }}
  {% endif %}
  <h2 class="warning-color govuk-heading-s">Beware, this tool will overwrite the additional information fields for the selected courts</h2>

  <form method="POST">

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="info_message">
        Coronavirus (COVID-19) Update
      </label>
      </h1>
      <textarea class="govuk-textarea rich-editor" id="info_message" name="info" rows="3">{{ court['info'] }}</textarea>
    </div>

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="info_message_cy">
        Coronavirus (COVID-19) Update (Welsh)
      </label>
      </h1>
      <textarea class="govuk-textarea rich-editor" id="info_message_cy" name="info_cy" rows="3">{{ court['info_cy'] }}</textarea>
    </div>

    {{ govukButton({
      text: "Update selected courts, overwriting existing text",
      classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8"
    }) }}

    <table class="govuk-table" id="courts">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"><input type="checkbox" id="selectAll" /></th>
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Last Updated</th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
      {% for court in courts | sort(attribute="name") %}
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">
            <input name="courts" value="{{ court.slug }}" type="checkbox" />
          </td>
          <td scope="row" class="govuk-table__cell">{{ court.name }}</td>
          <td scope="row" class="govuk-table__cell">{{ court['updated_at'] }}</td>
          <td scope="row" class="govuk-table__cell">
            <a id="view-{{ court.slug }}" class="govuk-link" href="/courts/{{ court.slug }}">view</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </form>
{% endblock %}

