{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}


{% extends "template.njk" %}
{% block pageTitle %}Bulk edit of additional information{% endblock %}


{% block content %}
  <h1 class="govuk-heading-xl">Bulk edit of additional information</h1>
  {% if updated %}
    <div class="govuk-panel govuk-panel--confirmation" id="updated-message">
      <h2 class="govuk-panel__title">
        Court information updated
      </h2>
    </div>
  {% elif error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: error
        }
      ]
    }) }}
  {% endif %}
  {{ govukWarningText({
    text: "Beware, this tool will overwrite the additional information fields for the selected courts.",
    iconFallbackText: "Warning"
  }) }}

  <form method="POST">

    <div class="govuk-form-group">
      <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="info_message">
        Additional information
      </label>
      </h2>
      <textarea class="govuk-textarea rich-editor" id="info_message" name="info" tabindex=0>{{ court['info'] }}</textarea>
    </div>

    <div class="govuk-form-group">
      <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="info_message_cy">
        Additional information (Welsh)
      </label>
      </h2>
      <textarea class="govuk-textarea rich-editor" id="info_message_cy" name="info_cy" rows="3">{{ court['info_cy'] }}</textarea>
    </div>

    {{ govukButton({
      text: "Update selected courts, overwriting existing text",
      classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
      attributes: { "id": "update" }
    }) }}

    <div id = 'tableContainer'>
        <div id='courtOptionsRow' class='govuk-grid-row'>
          <div class='govuk-grid-column-one-half'>
            {{ govukInput({
              attributes: {
                placeholder: ' Search courts and tribunals'
              },
              prefix: {
                text: '🔎'
              },
              id: 'searchCourts',
              name: 'searchCourts'
            }) }}
          </div>

          <div id='toggleClosedCourtsDisplay' class='govuk-grid-column-one-quarter'>
           {{ govukCheckboxes({
             idPrefix: 'toggle-closed-courts-display',
             name: 'toggleClosedCourtsDisplay',
             classes: 'govuk-checkboxes--small',
             items: [
               {
                 value: 'includeClosed',
                 text: 'Include closed'
               }]
           }) }}
          </div>
        </div>

        <div id='numberOfCourts' class='govuk-hint'></div>

        {% set courtItems = [] %}
        {% for court in courts|sort(false, true, 'name') %}
          {% set courtItems = (courtItems.push([
            {
            html: '<input aria-label="'+ court.name +'" name="courts" value='+ court.slug +' type="checkbox" />'
            },
            {
              attributes: {
                'data-type': 'name',
                'data-name': court.slug
              },
              text: court.name,
              classes: 'courtTableColumnName'
            },
            {
              attributes: {
                'data-type': 'displayed',
                'data-displayed': court.displayed
              },
              text: '' if court.displayed else 'closed',
              classes: 'courtTableColumnDisplayed'
            },
            {
             attributes: {
                'data-type': 'updated_at'
              },
             text: court.updated_at,
             classes: 'courtTableColumnLastUpdated'
            },
            {
              html: '<a id="view-' + court.slug + '" class="govuk-link" href="' + factFrontendURL +  '/courts/' + court.slug + '">view</a>'
            }
            ]), courtItems) %}
        {% endfor %}

        {{ govukTable({
          id: 'courtsResults',
          name: 'courtResults',
          attributes: {
            id: 'courtResults'
          },
          head: [
          {html: '<input type="checkbox" aria-label="Select all courts" id="selectAll" />'},
            {
              text: 'Name',
              attributes: {
                id: 'tableCourtsName'
              },
              classes: 'govuk-!-width-one-half courts-table-header courts-table-header-inactive'
            },
            {},
            {
              text: "Last updated",
              attributes: {
                id: 'tableCourtsUpdated'
              },
              classes: 'courts-table-header courts-table-header-inactive'
            },
            {}
          ],
          rows: courtItems
        }) }}
      </div>
{% endblock %}

