{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set isNewAreaOfLaw = true %}
{% if areaOfLaw.id %}
  {% set isNewAreaOfLaw = false %}
{% endif %}

{% if isNewAreaOfLaw %}
  <h2 class="govuk-heading-l">Add New Area of Law</h2>
{% else %}
  <h2 class="govuk-heading-l">Editing Area of Law: {{areaOfLaw.name}}</h2>
{% endif %}

{% if errors|length %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}

{% if fatalError == false %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if isNewAreaOfLaw %}
        {{ govukInput({
          label: {
            text: "Name"
          },
          hint: {
            text: "After the area of law is created this area of law name cannot be changed in the admin portal."
          },
          id: "aol-name",
          name: "areaOfLaw[name]",
          value: areaOfLaw.name,
          errorMessage: { text: 'Name is required' } if nameValid == false
        }) }}
      {% else %}
        <input id='areaOfLawName' type='hidden' name='areaOfLaw[name]' value={{areaOfLaw.name}}></input>
      {% endif %}

      <input id='areaOfLawId' type='hidden' name='areaOfLaw[id]' value={{areaOfLaw.id}}></input>

      {{ govukInput({
        label: {
          text: "Display Name"
        },
        hint: {
          text: "If set, this is how the area of law will appear in the 'find out more about' section for not-in-person courts and tribunals. The name will be used if this is not set."
        },
        id: "aol-display-name",
        name: "areaOfLaw[display_name]",
        value: areaOfLaw.display_name
      }) }}

      {{ govukInput({
        label: {
          text: "Display Name (Welsh)"
        },
        hint: {
          text: "If set, this is how the area of law will appear in the 'find out more about' section for not-in-person courts and tribunals. The name will be used if this is not set."
        },
        id: "aol-display-name-cy",
        name: "areaOfLaw[display_name_cy]",
        value: areaOfLaw.display_name_cy
      }) }}

      {{ govukInput({
        label: {
          text: "Alternative Name"
        },
        hint: {
          text: "If set, this is how the area of law will appear in the 'this location handles' section for in-person courts and tribunals. The name will be used if this is not set."
        },
        id: "aol-alt-name",
        name: "areaOfLaw[alt_name]",
        value: areaOfLaw.alt_name
      }) }}

      {{ govukInput({
        label: {
          text: "Alternative Name (Welsh)"
        },
        hint: {
          text: "If set, this is how the area of law will appear in the 'this location handles' section for in-person courts and tribunals. The name will be used if this is not set."
        },
        id: "aol-alt-name-cy",
        name: "areaOfLaw[alt_name_cy]",
        value: areaOfLaw.alt_name_cy
      }) }}

      {{ govukInput({
        label: {
          text: "External Link (URL)"
        },
        hint: {
          text: "If set, the area of law will appear as a link in the 'find out more about' (in-person) or 'this location handles' (not-in-person) section and direct users to this URL."
        },
        id: "aol-external-link",
        name: "areaOfLaw[external_link]",
        value: areaOfLaw.external_link,
        errorMessage: { text: 'URL is invalid' } if linkValid == false
      }) }}

      {{ govukInput({
        label: {
            text: "External Link Description"
          },
          hint: {
            text: "A description of the external link."
          },
          id: "aol-external-link-desc",
          name: "areaOfLaw[external_link_desc]",
          value: areaOfLaw.external_link_desc
        }) }}

        {{ govukInput({
          label: {
            text: "External Link Description (Welsh)"
          },
          hint: {
            text: "A description of the external link."
          },
          id: "aol-external-link-desc-cy",
          name: "areaOfLaw[external_link_desc_cy]",
          value: areaOfLaw.external_link_desc_cy
        }) }}

        {{ govukInput({
          label: {
            text: "Display External Link (URL)"
          },
          hint: {
            text: "If set, the area of law shown in the 'find out more about' (in-person) or 'this location handles' (not-in-person) section will direct users to this URL rather than the External Link."
          },
          id: "aol-display-external-link",
          name: "areaOfLaw[display_external_link]",
          value: areaOfLaw.display_external_link,
          errorMessage: { text: 'URL is invalid' } if displayLinkValid == false
        }) }}
    </div>
  </div>

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save",
      attributes: { id: "saveAreaOfLawBtn" }
    }) }}

    {{ govukButton({
      text: "Cancel",
      type: "button",
      attributes: { id: "cancelAreaOfLawChangesBtn" },
      classes: "govuk-button--secondary"
    }) }}
  </div>

{% endif %}
