{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set isNewFacilityType = true %}
{% if facilityType.id %}
  {% set isNewFacilityType = false %}
{% endif %}

{% if isNewFacilityType %}
  <h2 class="govuk-heading-l">Add New Facility Type</h2>
{% else %}
  <h2 class="govuk-heading-l">Edit Facility Type</h2>
  <input type="hidden" name="facilityType[id]" value="{{facilityType.id}}"></input>
  <input type="hidden" name="facilityType[order]" value="{{facilityType.order}}"></input>
{% endif %}

{% if errors|length %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}

{% if fatalError == false %}

  {{ govukInput({
      label: {
        text: "Name"
      },
      id: "facility-type-name",
      name: "facilityType[name]",
      value: facilityType.name,
      errorMessage: { text: 'Name is required' } if nameValid == false
  }) }}

  {{ govukInput({
      label: {
        text: "Name (Welsh)"
      },
      id: "facility-type-name-cy",
      name: "facilityType[nameCy]",
      value: facilityType.nameCy
  }) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save",
      attributes: { id: "saveFacilityType" }
    }) }}

    {{ govukButton({
      text: "Cancel",
      type: "button",
      attributes: { id: "cancelFacilityTypeChangesBtn" },
      classes: "govuk-button--secondary cancel-changes"
    }) }}
  </div>

{% endif %}
