{% from "macros/csrf.njk" import csrfProtection %}

<div id='localAuthoritiesListTab'>
  <form id="localAuthoritiesListForm" method="POST" action="/lists/local-authorities-list">
    {{ csrfProtection(csrfToken) }}
 <div id='localAuthoritiesListContent'></div>
  </form>
</div>
