apiVersion: v2
appVersion: "1.0"
description: A Helm chart for fact-admin App
name: fact-admin
home: https://github.com/hmcts/fact-admin
version: 0.0.19
dependencies:
  - name: nodejs
    version: 2.4.1
    repository: '@hmctspublic'
  - name: idam-pr
    version: 2.2.7
    repository: '@hmctspublic'
    condition: idam-pr.enabled

