nodejs:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    OAUTH_CLIENT_REDIRECT: https://${SERVICE_FQDN}
idam-pr:
  enabled: false
  redirect_uris:
    fact_admin:
      - https://${SERVICE_FQDN}
