nodejs:
  applicationPort: 3300
  aadIdentityName: fact
  memoryLimits: 2048Mi
  memoryRequests: 1024Mi
  cpuRequests: 300m
  keyVaults:
    fact:
      resourceGroup: fact
      secrets:
        - user-lock-timeout
        - oauth-client-secret
        - redis-access-key
        - AppInsightsInstrumentationKey-ai
        - csrf-token-secret
        - launchdarkly-sdk-key
        - storage-account-connection-string
        - storage-account-name
        - storage-account-primary-key
  ingressHost: fact-admin.{{ .Values.global.environment }}.platform.hmcts.net
  image: 'hmctspublic.azurecr.io/fact/admin:latest'
  environment:
    FACT_API_URL: "http://fact-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
    IDAM_WEB_URL: "https://idam-web-public.{{ .Values.global.environment }}.platform.hmcts.net/o"
    IDAM_SESSION_URL: "https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net/session"
    OAUTH_CLIENT_REDIRECT: "https://fact-admin.{{ .Values.global.environment }}.platform.hmcts.net"
    REDIS_HOST: "fact-admin-session-storage-{{ .Values.global.environment }}.redis.cache.windows.net"
    FRONTEND_URL: "https://fact.{{ .Values.global.environment }}.platform.hmcts.net"
    IMAGE_BASE_URL: "https://fact{{ .Values.global.environment }}.blob.core.windows.net/images"
    IDAM_USER_DASHBOARD_URL: "https://idam-user-dashboard.{{ .Values.global.environment }}.platform.hmcts.net"
    SECURE_FLAG : true
idam-pr:
  enabled: false
