{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

<h2 class="govuk-heading-l">Addresses</h2>

{% if errors|length %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}

{% if updated === true %}
  {{ govukPanel({
    titleText: "Addresses updated"
  }) }}
{% endif %}

{% set addressRequiredError = { text: 'Address is required' } %}
{% set townRequiredError = { text: 'Town is required' } %}
{% set postcodeRequiredError = { text: 'Postcode is required' } %}
{% set postcodeInvalidError = { text: 'Postcode is invalid' } %}
{% set upArrowHtml = "&#11014" %}
{% set downArrowHtml = "&#11015" %}

<div class="govuk-body">
  <p>A court can have up to 6 addresses. The primary address can not be removed.<p>
</div>



<h3 class="govuk-heading-m">Primary Address</h3>

<input type="hidden" name="writeToUsTypeId" value={{writeToUsTypeId}}></input>

{{ govukSelect({
  id: "primaryAddressType",
  name: "primary[type_id]",
  label: {
    text: "Address Type"
  },
  items: addressTypesPrimary | selectFilter(addresses.primary.type_id)
}) }}

{{ govukTextarea({
  id: "primaryAddressLines",
  name: "primary[address_lines]",
  label: {
    text: "Address"
  },
  classes: "govuk-input--width-30",
  value: addresses.primary.address_lines,
  errorMessage: addressRequiredError if addresses.primary.address_lines === ''
}) }}

{{ govukTextarea({
  id: "primaryAddressWelsh",
  name: "primary[address_lines_cy]",
  label: {
    text: "Address (Welsh)"
  },
  classes: "govuk-input--width-30",
  value: addresses.primary.address_lines_cy
}) }}

{{ govukInput({
  id: "primaryAddressTown",
  name: "primary[town]",
  label: { text: "Town" },
  classes: "govuk-input--width-30",
  value: addresses.primary.town,
  errorMessage: townRequiredError if addresses.primary.town === ''
}) }}

{{ govukInput({
  id: "primaryAddressTownWelsh",
  name: "primary[town_cy]",
  label: { text: "Town (Welsh)" },
  classes: "govuk-input--width-30",
  value: addresses.primary.town_cy
}) }}

{{ govukSelect({
  id: "primaryAddressCounty",
  name: "primary[county_id]",
  label: {
    text: "County"
  },
  items: counties | selectFilter(addresses.primary.county_id)
}) }}

{% if addresses.primary.postcode == '' %}
  {% set primaryPostcodeError = postcodeRequiredError %}
{% elif primaryPostcodeInvalid %}
  {% set primaryPostcodeError = postcodeInvalidError %}
{% endif %}

{{ govukInput({
  id: "primaryAddressPostcode",
  name: "primary[postcode]",
  label: { text: "Postcode" },
  classes: "govuk-input--width-30",
  value: addresses.primary.postcode,
  errorMessage: primaryPostcodeError
}) }}

<br/>

<hr/>

<br/>

{% for address in addresses.secondary %}

{% call govukFieldset({
    classes: "can-reorder",
    attributes: { id: "secondary" }
  }) %}

<h3 class="govuk-heading-m title">Secondary Address {{loop.index}}</h3>

{{ govukSelect({
  id: "type_id-" + (loop.index - 1) ,
  name: "secondary[" + (loop.index - 1) + "][type_id]",
  label: { text: "Address Type" },
  items: addressTypesSecondary  | selectFilter(address.type_id),
  classes: "clear"
}) }}

{% if (address.address_lines) or (address.address_lines_cy) or (address.town) or (address.town_cy) or (address.postcode) %}
  {% if address.address_lines == '' %}
    {% set secondaryAddressError = addressRequiredError %}
  {% endif %}
  {% if address.town == '' %}
    {% set secondaryTownError = townRequiredError %}
  {% endif %}
{% endif %}

{{ govukTextarea({
  id: "address_lines-" + (loop.index - 1),
  name: "secondary[" + (loop.index - 1) + "][address_lines]",
  label: { text: "Address" },
  classes: "govuk-input--width-30 clear",
  value: address.address_lines,
  errorMessage: secondaryAddressError
}) }}

{{ govukTextarea({
  id: "address_lines_cy-"+ (loop.index - 1),
  name: "secondary[" + (loop.index - 1) + "][address_lines_cy]",
  label: { text: "Address (Welsh)" },
  classes: "govuk-input--width-30 clear",
  value: address.address_lines_cy
}) }}


{% set radioCheckedSecondary = false %}
{% set radioChecked = "no" %}

{% for areaOfLaw in address.fields_of_law.areas_of_law %}
  {% if areaOfLaw.checked %}
    {% set radioCheckedSecondary = true %}
    {% set radioChecked = "yes" %}
  {% endif %}
{% endfor %}
{% for court in address.fields_of_law.courts %}
  {% if court.checked %}
    {% set radioCheckedSecondary = true %}
    {% set radioChecked = "yes" %}
  {% endif %}
{% endfor %}

<div id="AddressFieldsOfLawRadioContainer">

 <input type="hidden" name={{"secondary[" + (loop.index - 1) +"][secondaryFieldsOfLawRadio]"}} value={{radioChecked}}></input>

{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "secondaryFieldsOfLawRadio"+ loop.index,
  name: "secondaryFieldsOfLawRadio" + (loop.index - 1),
  value: "No",
  fieldset: {
    legend: {
      text: "Does this address only apply for specific areas of law and/or court types?",
      classes: "govuk-input--width-50"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      checked: radioCheckedSecondary
    },
    {
      value: "no",
      text: "No",
      checked: not radioCheckedSecondary
    }
  ]
}) }}
</div>

<div id="secondaryAddressFieldsOfLawContainer{{(loop.index - 1)}}">

  {{ govukDetails({
    summaryText: "Help with areas of law",
    html: "Select one or more areas of law that apply for a given address. An example of this may be where you
    have a write to address that only applies for Civil cases"})
  }}

  <div class="govuk-grid-row scrollable visible-scrollbar role: scrollbar">

{% set secondaryAddressAOLItems =  "secondaryAddressAOLItems"+ (loop.index - 1)%}

    {%- for items in address.fields_of_law.areas_of_law | slice(2) %}

    <div class="govuk-grid-column-one-half">
        {{ govukCheckboxes({
          idPrefix: "areas-of-law",
          name: secondaryAddressAOLItems ,
          classes: "govuk-checkboxes--small",
          items: items
        }) }}
    </div>

    {%- endfor %}

  </div>


  <input type="hidden" name={{"secondary[" + (loop.index - 1) +"][secondaryAddressAOLItems]"}} value=''></input>

  {{ govukDetails({
    summaryText: "Help with court types",
    html: "Select one or more court types that apply for a given address. An example of this may be where you
    have a write to address that only applies for Family courts"})
  }}

  <div class="govuk-grid-row scrollable visible-scrollbar role: scrollbar">

{% set secondaryAddressCourtItems = "secondaryAddressCourtItems"+ (loop.index - 1)%}

    {%- for items in address.fields_of_law.courts | slice(2) %}

    <div class="govuk-grid-column-one-half">
        {{ govukCheckboxes({
          idPrefix: "courts",
          name: secondaryAddressCourtItems,
          classes: "govuk-checkboxes--small",
          items: items
        }) }}
    </div>

    {%- endfor %}

  </div>



<input type="hidden" name={{"secondary[" + (loop.index - 1) +"][secondaryAddressCourtItems]"}} value=''></input>

</div>


{{ govukInput({
  id: "town-"+ (loop.index - 1),
  name: "secondary[" + (loop.index - 1) + "][town]",
  label: { text: "Town" },
  classes: "govuk-input--width-30 clear",
  value: address.town,
  errorMessage: secondaryTownError
}) }}

{{ govukInput({
  id: "town_cy-" + (loop.index - 1),
  name: "secondary[" + (loop.index - 1) + "][town_cy]",
  label: { text: "Town (Welsh)" },
  classes: "govuk-input--width-30 clear",
  value: addresses.secondary.town_cy
}) }}

{{ govukSelect({
  id: "county_id-" + (loop.index - 1),
  name: "secondary[" + (loop.index - 1) + "][county_id]",
  label: {
    text: "County"
  },
  items: counties | selectFilter(address.county_id),
   classes: "clear"
}) }}

{% if address.postcode == '' %}
  {% if address.address_lines or address.address_lines_cy or address.town or address.town_cy %}
    {% set secondaryPostcodeError = postcodeRequiredError %}
  {% endif %}
{% elif secondaryPostcodeInvalid %}
  {% set secondaryPostcodeError = postcodeInvalidError %}
{% endif %}

{{ govukInput({
  id: "postcode-"+ (loop.index - 1),
  name: "secondary[" + (loop.index - 1) + "][postcode]",
  label: { text: "Postcode" },
  classes: "govuk-input--width-30 clear",
  value: address.postcode,
  errorMessage: secondaryPostcodeError
}) }}

<div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters">
{{ govukButton({
   text: "Remove",
   name: "removeSecondaryAddress"+ (loop.index),
   type: "button",
   classes: "govuk-button--secondary clearAddress",
   attributes: { id: "removeSecondAddressBtn"+ (loop.index) },
   disabled: true if fatalError
 }) }}
 </div>
  <div class="govuk-grid-column-one-quarter govuk-button-group">
       {{ govukButton({
         html: upArrowHtml,
         name: "moveUp",
         type: "button",
         classes: "govuk-button--secondary move-up",
         attributes: { "aria-label": "move up" }
       }) }}

       {{ govukButton({
         html: downArrowHtml,
         name: "moveDown",
         type: "button",
         classes: "govuk-button--secondary move-down",
         attributes: { "aria-label": "move down" }
       }) }}
       </div>


 </div>
 <br/>
 <hr/>
 <br/>
{% endcall %}
{% endfor %}


{{ govukButton({
  text: "Save Addresses",
  name: "saveAddresses",
  attributes: { id: "saveCourtAddressesBtn" },
  disabled: true if fatalError
}) }}


