{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

<h2 class="govuk-heading-l">Addresses</h2>

{% if errors|length %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}

{% if updated === true %}
  {{ govukPanel({
    titleText: "Addresses updated"
  }) }}
{% endif %}

{% set addressRequiredError = { text: 'Address is required' } %}
{% set townRequiredError = { text: 'Town is required' } %}
{% set postcodeRequiredError = { text: 'Postcode is required' } %}
{% set postcodeInvalidError = { text: 'Postcode is invalid' } %}
{% set descriptionInvalidError = { text: 'Maximum length is 50 characters'} %}

<div class="govuk-body">
  <p>A court can have up to 3 addresses. The primary address can not be removed.<p>
</div>

<h3 class="govuk-heading-m">Primary Address</h3>

<input type="hidden" name="writeToUsTypeId" value={{writeToUsTypeId}}></input>

{{ govukSelect({
  id: "primaryAddressType",
  name: "primary[type_id]",
  label: {
    text: "Address Type"
  },
  items: addressTypesPrimary | selectFilter(addresses.primary.type_id)
}) }}

{{ govukTextarea({
  id: "primaryAddressLines",
  name: "primary[address_lines]",
  label: {
    text: "Address"
  },
  classes: "govuk-input--width-30",
  value: addresses.primary.address_lines,
  errorMessage: addressRequiredError if addresses.primary.address_lines === ''
}) }}

{{ govukTextarea({
  id: "primaryAddressWelsh",
  name: "primary[address_lines_cy]",
  label: {
    text: "Address (Welsh)"
  },
  classes: "govuk-input--width-30",
  value: addresses.primary.address_lines_cy
}) }}

{{ govukInput({
  id: "primaryAddressTown",
  name: "primary[town]",
  label: { text: "Town" },
  classes: "govuk-input--width-30",
  value: addresses.primary.town,
  errorMessage: townRequiredError if addresses.primary.town === ''
}) }}

{{ govukInput({
  id: "primaryAddressTownWelsh",
  name: "primary[town_cy]",
  label: { text: "Town (Welsh)" },
  classes: "govuk-input--width-30",
  value: addresses.primary.town_cy
}) }}

{{ govukSelect({
  id: "primaryAddressCounty",
  name: "primary[county_id]",
  label: {
    text: "County"
  },
  items: counties | selectFilter(addresses.primary.county_id)
}) }}

{% if addresses.primary.postcode == '' %}
  {% set primaryPostcodeError = postcodeRequiredError %}
{% elif primaryPostcodeInvalid %}
  {% set primaryPostcodeError = postcodeInvalidError %}
{% endif %}

{{ govukInput({
  id: "primaryAddressPostcode",
  name: "primary[postcode]",
  label: { text: "Postcode" },
  classes: "govuk-input--width-30",
  value: addresses.primary.postcode,
  errorMessage: primaryPostcodeError
}) }}

<br/>

<hr/>

<br/>
<h3 class="govuk-heading-m">Secondary Address 1</h3>
{{secondary.type_id}}
{{ govukSelect({
  id: "secondaryAddressType",
  name: "secondary[type_id]",
  label: { text: "Address Type" },
  items: addressTypesSecondary  | selectFilter(addresses.secondary.type_id)
}) }}

{% if (addresses.secondary.description.length>100)  %}
 {% set secondaryDescriptionError = descriptionInvalidError %}
{% endif %}
{% if  (addresses.secondary.description_cy.length>100) %}
 {% set secondaryDescriptionCyError = descriptionInvalidError %}
{% endif %}


{{ govukInput({
  id: "secondaryAddressDescription",
  name: "secondary[description]",
  label: { text: "Description" },
  classes: "govuk-input--width-30",
  value: addresses.secondary.description,
  errorMessage: secondaryDescriptionError
}) }}

{{ govukInput({
  id: "secondaryAddressDescriptionWelsh",
  name: "secondary[description_cy]",
  label: { text: "Description (Welsh)" },
  classes: "govuk-input--width-30",
  value: addresses.secondary.description_cy,
  errorMessage: secondaryDescriptionCyError
}) }}

{% if (addresses.secondary.address_lines) or (addresses.secondary.address_lines_cy) or (addresses.secondary.town) or (addresses.secondary.town_cy) or (addresses.secondary.postcode) %}
  {% if addresses.secondary.address_lines == '' %}
    {% set secondaryAddressError = addressRequiredError %}
  {% endif %}
  {% if addresses.secondary.town == '' %}
    {% set secondaryTownError = townRequiredError %}
  {% endif %}
{% endif %}

{{ govukTextarea({
  id: "secondaryAddressLines",
  name: "secondary[address_lines]",
  label: { text: "Address" },
  classes: "govuk-input--width-30",
  value: addresses.secondary.address_lines,
  errorMessage: secondaryAddressError
}) }}

{{ govukTextarea({
  id: "secondaryAddressLinesWelsh",
  name: "secondary[address_lines_cy]",
  label: { text: "Address (Welsh)" },
  classes: "govuk-input--width-30",
  value: addresses.secondary.address_lines_cy
}) }}

{{ govukInput({
  id: "secondaryAddressTown",
  name: "secondary[town]",
  label: { text: "Town" },
  classes: "govuk-input--width-30",
  value: addresses.secondary.town,
  errorMessage: secondaryTownError
}) }}

{{ govukInput({
  id: "secondaryAddressTownWelsh",
  name: "secondary[town_cy]",
  label: { text: "Town (Welsh)" },
  classes: "govuk-input--width-30",
  value: addresses.secondary.town_cy
}) }}

{{ govukSelect({
  id: "secondaryAddressCounty",
  name: "secondary[county_id]",
  label: {
    text: "County"
  },
  items: counties | selectFilter(addresses.secondary.county_id)
}) }}

{% if addresses.secondary.postcode == '' %}
  {% if addresses.secondary.address_lines or addresses.secondary.address_lines_cy or addresses.secondary.town or addresses.secondary.town_cy %}
    {% set secondaryPostcodeError = postcodeRequiredError %}
  {% endif %}
{% elif secondaryPostcodeInvalid %}
  {% set secondaryPostcodeError = postcodeInvalidError %}
{% endif %}

{{ govukInput({
  id: "secondaryAddressPostcode",
  name: "secondary[postcode]",
  label: { text: "Postcode" },
  classes: "govuk-input--width-30",
  value: addresses.secondary.postcode,
  errorMessage: secondaryPostcodeError
}) }}

{{ govukButton({
   text: "Remove",
   name: "removeSecondaryAddress",
   type: "button",
   classes: "govuk-button--warning",
   attributes: { id: "removeSecondAddressBtn" },
   disabled: true if fatalError
 }) }}
 <br/>
 <hr/>
 <br/>
<h3 class="govuk-heading-m">Secondary Address 2</h3>

{{ govukSelect({
  id: "thirdAddressType",
  name: "third[type_id]",
  label: { text: "Address Type" },
  items: addressTypesThird  | selectFilter(addresses.third.type_id)
}) }}

{% if (addresses.third.description.length>100)  %}
 {% set thirdDescriptionError = descriptionInvalidError %}
{% endif %}
{% if  (addresses.third.description_cy.length>100) %}
 {% set thirdDescriptionCyError = descriptionInvalidError %}
{% endif %}

{{ govukInput({
  id: "thirdAddressDescription",
  name: "third[description]",
  label: { text: "Description" },
  classes: "govuk-input--width-30",
  value: addresses.third.description,
  errorMessage: thirdDescriptionError
}) }}

{{ govukInput({
  id: "thirdAddressDescriptionWelsh",
  name: "third[description_cy]",
  label: { text: "Description (Welsh)" },
  classes: "govuk-input--width-30",
  value: addresses.third.description_cy,
  errorMessage: thirdDescriptionCyError
}) }}

{% if (addresses.third.address_lines) or (addresses.third.address_lines_cy) or (addresses.third.town) or (addresses.third.town_cy) or (addresses.third.postcode) %}
  {% if addresses.third.address_lines == '' %}
    {% set thirdAddressError = addressRequiredError %}
  {% endif %}
  {% if addresses.third.town == '' %}
    {% set thirdTownError = townRequiredError %}
  {% endif %}
{% endif %}

{{ govukTextarea({
  id: "thirdAddressLines",
  name: "third[address_lines]",
  label: { text: "Address" },
  classes: "govuk-input--width-30",
  value: addresses.third.address_lines,
  errorMessage: thirdAddressError
}) }}

{{ govukTextarea({
  id: "thirdAddressLinesWelsh",
  name: "third[address_lines_cy]",
  label: { text: "Address (Welsh)" },
  classes: "govuk-input--width-30",
  value: addresses.third.address_lines_cy
}) }}

{{ govukInput({
  id: "thirdAddressTown",
  name: "third[town]",
  label: { text: "Town" },
  classes: "govuk-input--width-30",
  value: addresses.third.town,
  errorMessage: thirdTownError
}) }}

{{ govukInput({
  id: "thirdAddressTownWelsh",
  name: "third[town_cy]",
  label: { text: "Town (Welsh)" },
  classes: "govuk-input--width-30",
  value: addresses.third.town_cy
}) }}

{{ govukSelect({
  id: "thirdAddressCounty",
  name: "third[county_id]",
  label: {
    text: "County"
  },
  items: counties | selectFilter(addresses.third.county_id)
}) }}

{% if addresses.third.postcode == '' %}
  {% if addresses.third.address_lines or addresses.third.address_lines_cy or addresses.third.town or addresses.third.town_cy %}
    {% set thirdPostcodeError = postcodeRequiredError %}
  {% endif %}
{% elif thirdPostcodeInvalid %}
  {% set thirdPostcodeError = postcodeInvalidError %}
{% endif %}

{{ govukInput({
  id: "thirdAddressPostcode",
  name: "third[postcode]",
  label: { text: "Postcode" },
  classes: "govuk-input--width-30",
  value: addresses.third.postcode,
  errorMessage: thirdPostcodeError
}) }}


{{ govukButton({
       text: "Remove",
         name: "removeThirdAddress",
         type: "button",
         classes: "govuk-button--warning",
         attributes: { id: "removeThirdAddressBtn" },
         disabled: true if fatalError
 }) }}
<br/>

<hr/>
{{ govukButton({
  text: "Save Addresses",
  name: "saveAddresses",
  attributes: { id: "saveCourtAddressesBtn" },
  disabled: true if fatalError
}) }}

