{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<h2 class="govuk-heading-l">Cases Heard</h2>

{% if errors|length %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}

{% if allAreasOfLaw|length and courtAreasOfLaw|length %}

    {% set allAreasOfLawItems = [] %}
    {% for areaOfLaw in allAreasOfLaw %}
      {% for courtAreaOfLaw in courtAreasOfLaw %}
        {% if areaOfLaw.name === courtAreaOfLaw.name %}
          {% set allAreasOfLawItems =
            (allAreasOfLawItems.push({'text': areaOfLaw.name, 'value': areaOfLaw.name, 'id': areaOfLaw.id, checked: true}), allAreasOfLawItems) %}
        {% else %}
          {% set allAreasOfLawItems =
            (allAreasOfLawItems.push({'text': areaOfLaw.name, 'value': areaOfLaw.name, 'id': areaOfLaw.id, checked: false}), allAreasOfLawItems) %}
        {% endif %}
      {% endfor %}
    {% endfor %}git

    {% endfor %}

    <div id="casesHeardList" class="govuk-grid-row visible-scrollbar scrollable", role="scrollbar">
      {%- for items in allAreasOfLawItems | slice(2) %}
        <div class="govuk-grid-column-one-half">
            {{ govukCheckboxes({
              idPrefix: "cases-heard-checkbox",
              name: "casesHeardItems",
              classes: "govuk-checkboxes--medium",
              items: items
            }) }}
        </div>
      {% endfor %}
    </div>

  {% endif %}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Update"
    }) }}

    <a class="govuk-link" href="#">Cancel</a>
  </div>

