{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<h2 class="govuk-heading-l">Cases Heard</h2>

{% if errors|length %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}

{% if updated === true %}
  {{ govukPanel({
    titleText: "Cases heard updated"
  }) }}
{% endif %}

{% if allAreasOfLaw|length and courtAreasOfLaw|length %}

  {% set courtAreasOfLawNames = [] %}
    {% for areaOfLaw in courtAreasOfLaw %}
        {% set allAreasOfLawItems =
          (courtAreasOfLawNames.push(areaOfLaw.name), courtAreasOfLawNames) %}
    {% endfor %}

    {% set allAreasOfLawItems = [] %}
    {% for areaOfLaw in allAreasOfLaw %}
       {% if areaOfLaw.name in courtAreasOfLawNames %}
          {% set allAreasOfLawItems =
            (allAreasOfLawItems.push({
              attributes: { 'data-inputType': 'cases-heard' },
              'text': areaOfLaw.name, 'value': areaOfLaw.name,
              'id': areaOfLaw.id,
              checked: true
            }), allAreasOfLawItems) %}
        {% else %}
          {% set allAreasOfLawItems =
            (allAreasOfLawItems.push({
              attributes: { 'data-inputType': 'cases-heard' },
              'text': areaOfLaw.name,
              'value': areaOfLaw.name,
              'id': areaOfLaw.id,
              checked: false
            }), allAreasOfLawItems) %}
        {% endif %}
    {% endfor %}

    <div id="casesHeardList" class="govuk-grid-row visible-scrollbar scrollable", role="scrollbar">
      {%- for items in allAreasOfLawItems|sort(false, true, 'text') | slice(2) %}
        <div id="test" class="govuk-grid-column-one-half">
            {{ govukCheckboxes({
              idPrefix: "cases-heard-checkbox",
              name: "casesHeardItems",
              classes: "govuk-checkboxes--medium",
              items: items
            }) }}
        </div>
      {% endfor %}
    </div>

  {% endif %}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Update",
      id: "updateCasesHeardSelect"
    }) }}
  </div>

