{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

<h2 class="govuk-heading-l">Historical Names</h2>

{% if errors|length %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}

{% if updated === true %}
  {{ govukPanel({
    titleText: " updated"
  }) }}
{% endif %}

{# {% set upArrowHtml = "&#11014" %}
{% set downArrowHtml = "&#11015" %} #}

{% for courtNameSet in courtHistories %}

  {% set isNew = (courtNameSet.isNew === true) or (courtNameSet.isNew === "true") %}

  {# {% set nameBlankError = false %}
  {% if courtNameSet.court_name === '' %}
    {% set NameBlankError = { text: 'Historical name is required' } %}
  {% endif %} #}

  {% call govukFieldset({
    classes: "can-reorder"
  }) %}

  {% if isNew === true %}
    <h3 class="govuk-heading-s">Add New Historical Name</h3>
  {% endif %}

  <input type="hidden" name={{"courtHistories[" + loop.index +"][isNew]"}} value={{courtNameSet.isNew}}></input>

  {{ govukInput({
    label: {
      text: "Historical Name"
    },
    classes: "govuk-input--width-20",
    id: "historicalName-" + loop.index,
    name: "courtHistories[" + loop.index +"][court_name]",
    value: courtNameSet.court_name
  }) }}

  {{ govukInput({
    label: {
      text: "Historical Name (Welsh)"
    },
    classes: "govuk-input--width-20",
    id: "historicalName-" + loop.index,
    name: "courtHistories[" + loop.index +"][court_name_cy]",
    value: courtNameSet.court_name_cy
  }) }}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
    {% if isNew === false %}
      {{ govukButton({
        text: "Remove",
        name: "deleteCourtHistory",
        type: "button",
        classes: "govuk-button--secondary deleteCourtHistory"
      }) }}
    {% else %}
      {{ govukButton({
        text: "Clear",
        name: "clearCourtHistory",
        type: "button",
        classes: "govuk-button--secondary clearCourtHistory"
      }) }}
    {% endif %}
    </div>
    {# <div class="govuk-grid-column-one-quarter govuk-button-group">
      {{ govukButton({
        html: upArrowHtml,
        name: "moveUp",
        type: "button",
        classes: "govuk-button--secondary move-up",
        attributes: { "aria-label": "move up" }
      }) }}

      {{ govukButton({
        html: downArrowHtml,
        name: "moveDown",
        type: "button",
        classes: "govuk-button--secondary move-down",
        attributes: { "aria-label": "move down" }
      }) }}
    </div> #}
  </div>

  <hr/>

  {% endcall %}

{% endfor %}

{% call govukFieldset({
    classes: "can-reorder",
    attributes: { id: "newCourtHistoryTemplate", disabled: "disabled", hidden: true }
}) %}

  <input type="hidden" name={{"courtHistories[" + courtHistories.length +"][isNew]"}} value="true"></input>

  <h3 class="govuk-heading-s">Add New Historical Name</h3>

  {{ govukInput({
    label: {
      text: "Historical Name"
    },
    classes: "govuk-input--width-20",
    name: "courtHistories[" + courtHistories.length +"][court_name]"
  }) }}

  {{ govukInput({
    label: {
      text: "Historical Name (Welsh)"
    },
    classes: "govuk-input--width-20",
    name: "courtHistories[" + courtHistories.length +"][court_name_cy]"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {{ govukButton({
        text: "Clear",
        name: "clearCourtHistory",
        type: "button",
        classes: "govuk-button--secondary clearCourtHistory"
      }) }}
    </div>

    {# <div class="govuk-grid-column-one-quarter govuk-button-group">
      {{ govukButton({
        html: upArrowHtml,
        name: "moveUp",
        type: "button",
        classes: "govuk-button--secondary move-up",
        attributes: { "aria-label": "move up" }
      }) }}

      {{ govukButton({
        html: downArrowHtml,
        name: "moveDown",
        type: "button",
        classes: "govuk-button--secondary move-down",
        attributes: { "aria-label": "move down" }
      }) }}
      </div> #}
  </div>

<hr/>

{% endcall %}

{{ govukButton({
  text: "Save",
  name: "saveCourtHistory",
  disabled: fatalError
}) }}

{{ govukButton({
  text: "Add new historical name",
  name: "addCourtHistory",
  type: "button",
  classes: "govuk-button--secondary addCourtHistory",
  disabled: fatalError
}) }}
