{% from "macros/csrf.njk" import csrfProtection %}

<div id='courtHistoryTab'>
  <form id="courtHistoryForm" method="POST" action="/courts/{{slug}}/history">
    {{ csrfProtection(csrfToken) }}
    <div id='courtHistoryContent'></div>
  </form>
</div>
