{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/details/macro.njk" import govukWarningText %}

<h2 class="govuk-heading-l">Historical Names</h2>

{{ govukWarningText({
  text: "Please ensure the spelling of the historical court names are correct.",
  iconFallbackText: "Warning"
}) }}

{% if errors|length %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}

{% if updated === true %}
  {{ govukPanel({
    titleText: "Historial names updated"
  }) }}
{% endif %}

{% set upArrowHtml = "&#11014" %}
{% set downArrowHtml = "&#11015" %}

{% for court in courtHistory %}

  {% set isNew = (court.isNew === true) or (court.isNew === "true") %}

  {% set nameError = false %}
  {% if court.name === '' %}
    {% set nameError = { text: 'Historical court name is required' } %}
  {% endif %}
  
  {% set nameCyError = false %}
  {% if court.nameCy === '' %}
    {% set nameCyError = { text: 'Historical court name is required' } %}
  {% endif %}

  {% call govukFieldset({
    classes: "can-reorder"
  }) %}

  {% if isNew === true %}
    <h3 class="govuk-heading-s">Add Historical Name</h3>
  {% endif %}

  <input type="hidden" name={{"courtHistory[" + loop.index +"][isNew]"}} value={{email.isNew}}></input>

  {{ govukInput({
    label: {
      text: "Historial Court Name"
    },
    classes: "govuk-input--width-20",
    id: "name-" + loop.index,
    name: "courtHistory[" + loop.index +"][name]",
    value: courtHistory.name
  }) }}

  {{ govukInput({
    label: {
      text: "Historial Court Name (Welsh)"
    },
    classes: "govuk-input--width-20",
    id: "name-cy-" + loop.index,
    name: "courtHistory[" + loop.index +"][nameCy]",
    value: courtHistory.nameCy
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
    {% if isNew === false %}
      {{ govukButton({
        text: "Remove",
        name: "deleteCourtHistory",
        type: "button",
        classes: "govuk-button--secondary deleteCourtHistory"
      }) }}
    {% else %}
      {{ govukButton({
        text: "Clear",
        name: "clearCourtHistory",
        type: "button",
        classes: "govuk-button--secondary clearCourtHistory"
      }) }}
    {% endif %}
    </div>
    <div class="govuk-grid-column-one-quarter govuk-button-group">
      {{ govukButton({
        html: upArrowHtml,
        name: "moveUp",
        type: "button",
        classes: "govuk-button--secondary move-up",
        attributes: { "aria-label": "move up" }
      }) }}

      {{ govukButton({
        html: downArrowHtml,
        name: "moveDown",
        type: "button",
        classes: "govuk-button--secondary move-down",
        attributes: { "aria-label": "move down" }
      }) }}
    </div>
  </div>

  <hr/>

  {% endcall %}

{% endfor %}

{% call govukFieldset({
    classes: "can-reorder",
    attributes: { id: "newCourtHistoryTemplate", disabled: "disabled", hidden: true }
}) %}

  <input type="hidden" name={{"courtHistory[" + courtHistory.length +"][isNew]"}} value="true"></input>

  <h3 class="govuk-heading-s">Add New Historical Name</h3>

  {{ govukInput({
    label: {
      text: "Historial Court Name"
    },
    classes: "govuk-input--width-20",
    name: "courtHistory[" + courtHistory.length +"][name]"
  }) }}

  {{ govukInput({
    label: {
      text: "Historial Court Name (Welsh)"
    },
    classes: "govuk-input--width-20",
    name: "courtHistory[" + courtHistory.length +"][nameCy]"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {{ govukButton({
        text: "Clear",
        name: "clearCourtHistory",
        type: "button",
        classes: "govuk-button--secondary clearCourtHistory"
      }) }}
    </div>

    <div class="govuk-grid-column-one-quarter govuk-button-group">
      {{ govukButton({
        html: upArrowHtml,
        name: "moveUp",
        type: "button",
        classes: "govuk-button--secondary move-up",
        attributes: { "aria-label": "move up" }
      }) }}

      {{ govukButton({
        html: downArrowHtml,
        name: "moveDown",
        type: "button",
        classes: "govuk-button--secondary move-down",
        attributes: { "aria-label": "move down" }
      }) }}
      </div>
  </div>

  <hr/>

{% endcall %}

{{ govukButton({
  text: "Save",
  name: "saveCourtHistory",
  disabled: fatalError
}) }}


{{ govukButton({
  text: "Add new historical name",
  name: "addCourtHistory",
  type: "button",
  classes: "govuk-button--secondary addCourtHistory",
  disabled: fatalError
}) }}

