{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

<h2 class="govuk-heading-l">Court Historical Names</h2>

{% if errors|length %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}

{% if updated === true %}
  {{ govukPanel({
    titleText: " updated"
  }) }}
{% endif %}

{% set upArrowHtml = "&#11014" %}
{% set downArrowHtml = "&#11015" %}

{% for courtNameSet in courtHistories %}

  {% set isNew = (courtNameSet.isNew === true) or (courtNameSet.isNew === "true") %}

  {# {% set emailsError = false %}
  {% if courtNameSet.address === '' %}
    {% set emailsError = { text: 'Address is required' } %}
  {% endif %} #}

  {% call govukFieldset({
    classes: "can-reorder"
  }) %}

  {% if isNew === true %}
    <h3 class="govuk-heading-s">Add New Historial Name</h3>
  {% endif %}

  <input type="hidden" name={{"courtHistories[" + loop.index +"][isNew]"}} value={{courtNameSet.isNew}}></input>

  {{ govukInput({
    label: {
      text: "Historial Name"
    },
    classes: "govuk-input--width-20",
    id: "HistorialName-" + loop.index,
    name: "emails[" + loop.index +"][address]",
    value: email.address
  }) }}

  {{ govukInput({
    label: {
      text: "Historial Name (Welsh)"
    },
    classes: "govuk-input--width-20",
    id: "address-" + loop.index,
    name: "emails[" + loop.index +"][address]",
    value: email.address
  }) }}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
    {% if isNew === false %}
      {{ govukButton({
        text: "Remove",
        name: "deleteCourtNameSet",
        type: "button",
        classes: "govuk-button--secondary deleteEmail"
      }) }}
    {% else %}
      {{ govukButton({
        text: "Clear",
        name: "clearCourtNameSet",
        type: "button",
        classes: "govuk-button--secondary clearEmail"
      }) }}
    {% endif %}
    </div>
    <div class="govuk-grid-column-one-quarter govuk-button-group">
      {{ govukButton({
        html: upArrowHtml,
        name: "moveUp",
        type: "button",
        classes: "govuk-button--secondary move-up",
        attributes: { "aria-label": "move up" }
      }) }}

      {{ govukButton({
        html: downArrowHtml,
        name: "moveDown",
        type: "button",
        classes: "govuk-button--secondary move-down",
        attributes: { "aria-label": "move down" }
      }) }}
    </div>
  </div>

  <hr/>

  {% endcall %}

{% endfor %}

{# {% call govukFieldset({
    classes: "can-reorder",
    attributes: { id: "newEmailTemplate", disabled: "disabled", hidden: true }
}) %}

  <input type="hidden" name={{"emails[" + emails.length +"][isNew]"}} value="true"></input>

  <h3 class="govuk-heading-s">Add New Email Address</h3>

  {{ govukSelect({
    name:  "emails[" + emails.length +"][adminEmailTypeId]",
    label: {
      text: "Type"
    },
    items: emailTypes | selectFilter('')
  }) }}

  {{ govukInput({
    label: {
      text: "Address"
    },
    classes: "govuk-input--width-20",
    name: "emails[" + emails.length +"][address]"
  }) }}

  {{ govukInput({
    label: {
      text: "Explanation"
    },
    classes: "govuk-input--width-20",
    name: "emails[" + emails.length +"][explanation]"
  }) }}

  {{ govukInput({
    label: {
      text: "Explanation (Welsh)"
    },
    classes: "govuk-input--width-20",
    name: "emails[" + emails.length +"][explanationCy]"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {{ govukButton({
        text: "Clear",
        name: "clearOpeningTime",
        type: "button",
        classes: "govuk-button--secondary clearOpeningTime"
      }) }}
    </div>

    <div class="govuk-grid-column-one-quarter govuk-button-group">
      {{ govukButton({
        html: upArrowHtml,
        name: "moveUp",
        type: "button",
        classes: "govuk-button--secondary move-up",
        attributes: { "aria-label": "move up" }
      }) }}

      {{ govukButton({
        html: downArrowHtml,
        name: "moveDown",
        type: "button",
        classes: "govuk-button--secondary move-down",
        attributes: { "aria-label": "move down" }
      }) }}
      </div>
  </div>

  <hr/>

{% endcall %} #}

{{ govukButton({
  text: "Save",
  name: "saveCourtNameSet",
  disabled: fatalError
}) }}


{{ govukButton({
  text: "Add new historial name",
  name: "addCourtNameSet",
  type: "button",
  classes: "govuk-button--secondary addEmail",
  disabled: fatalError
}) }}
