{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

<h2 class="govuk-heading-l">Emails</h2>

{{ govukDetails({
  summaryText: "Help with email addresses",
  html: "Government standards are available for
  <a href='https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#emailaddresses'
    target='_blank' rel='noopener noreferrer'>email addresses</a>"})
}}

{% if errors|length %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}

{% if updated === true %}
  {{ govukPanel({
    titleText: "Emails updated"
  }) }}
{% endif %}

{% set upArrowHtml = "&#11014" %}
{% set downArrowHtml = "&#11015" %}

{% for email in emails %}

  {% set isNew = (email.isNew === true) or (email.isNew === "true") %}

  {% set descriptionError = false %}
  {% if email.adminEmailTypeId === '' %}
    {% set descriptionError = { text: 'Description is required' } %}
  {% endif %}

  {% set emailsError = false %}
  {% if email.address === '' %}
    {% set emailsError = { text: 'Address is required' } %}
  {% elif email.isDuplicated === true %}
    {% set emailsError = { text: 'Duplicated address' } %}
  {% elif email.isInvalidFormat === true %}
    {% set emailsError = { text: 'Invalid email address format' } %}
  {% endif %}

  {% call govukFieldset({
    classes: "can-reorder"
  }) %}

  {% if isNew === true %}
    <h3 class="govuk-heading-s">Add New Email Address</h3>
  {% endif %}

  <input type="hidden" name={{"emails[" + loop.index +"][isNew]"}} value={{email.isNew}}></input>

  {{ govukSelect({
    id: "emails-" + loop.index,
    name: "emails[" + loop.index +"][adminEmailTypeId]",
    label: {
      text: "Description"
    },
    errorMessage: descriptionError,
    items: emailTypes | selectFilter(email.adminEmailTypeId)
  }) }}

  {{ govukInput({
    label: {
      text: "Address"
    },
    classes: "govuk-input--width-20",
    id: "address-" + loop.index,
    name: "emails[" + loop.index +"][address]",
    value: email.address,
    errorMessage: emailsError
  }) }}

  {{ govukInput({
    label: {
      text: "Explanation"
    },
    classes: "govuk-input--width-20",
    id: "explanation-" + loop.index,
    name: "emails[" + loop.index +"][explanation]",
    value: email.explanation
  }) }}

  {{ govukInput({
    label: {
      text: "Explanation (Welsh)"
    },
    classes: "govuk-input--width-20",
    id: "explanation-cy-" + loop.index,
    name: "emails[" + loop.index +"][explanationCy]",
    value: email.explanationCy
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
    {% if isNew === false %}
      {{ govukButton({
        text: "Remove",
        name: "deleteEmail",
        type: "button",
        classes: "govuk-button--warning deleteEmail"
      }) }}
    {% else %}
      {{ govukButton({
        text: "Clear",
        name: "clearEmail",
        type: "button",
        classes: "govuk-button--secondary clearEmail"
      }) }}
    {% endif %}
    </div>
    <div class="govuk-grid-column-one-quarter govuk-button-group">
      {{ govukButton({
        html: upArrowHtml,
        name: "moveUp",
        type: "button",
        classes: "govuk-button--secondary move-up",
        attributes: { "aria-label": "move up" }
      }) }}

      {{ govukButton({
        html: downArrowHtml,
        name: "moveDown",
        type: "button",
        classes: "govuk-button--secondary move-down",
        attributes: { "aria-label": "move down" }
      }) }}
    </div>
  </div>

  <hr/>

  {% endcall %}

{% endfor %}

{% call govukFieldset({
    classes: "can-reorder",
    attributes: { id: "newEmailTemplate", disabled: "disabled", hidden: true }
}) %}

  <input type="hidden" name={{"emails[" + emails.length +"][isNew]"}} value="true"></input>

  <h3 class="govuk-heading-s">Add New Email Address</h3>

  {{ govukSelect({
    name:  "emails[" + emails.length +"][adminEmailTypeId]",
    label: {
      text: "Type"
    },
    items: emailTypes | selectFilter('')
  }) }}

  {{ govukInput({
    label: {
      text: "Address"
    },
    classes: "govuk-input--width-20",
    name: "emails[" + emails.length +"][address]"
  }) }}

  {{ govukInput({
    label: {
      text: "Explanation"
    },
    classes: "govuk-input--width-20",
    name: "emails[" + emails.length +"][explanation]"
  }) }}

  {{ govukInput({
    label: {
      text: "Explanation (Welsh)"
    },
    classes: "govuk-input--width-20",
    name: "emails[" + emails.length +"][explanationCy]"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {{ govukButton({
        text: "Clear",
        name: "clearOpeningTime",
        type: "button",
        classes: "govuk-button--secondary clearOpeningTime"
      }) }}
    </div>

    <div class="govuk-grid-column-one-quarter govuk-button-group">
      {{ govukButton({
        html: upArrowHtml,
        name: "moveUp",
        type: "button",
        classes: "govuk-button--secondary move-up",
        attributes: { "aria-label": "move up" }
      }) }}

      {{ govukButton({
        html: downArrowHtml,
        name: "moveDown",
        type: "button",
        classes: "govuk-button--secondary move-down",
        attributes: { "aria-label": "move down" }
      }) }}
      </div>
  </div>

  <hr/>

{% endcall %}

{{ govukButton({
  text: "Save",
  name: "saveEmail"
}) }}


{{ govukButton({
  text: "Add new email address",
  name: "addEmail",
  type: "button",
  classes: "govuk-button--secondary addEmail"
}) }}
