{% from "macros/csrf.njk" import csrfProtection %}

<div id='generalInfoTab'>
  <form id="generalInfoForm" method="POST" action="/courts/{{slug}}/general-info">
    {{ csrfProtection(csrfToken) }}
    <div id='generalInfoContent'></div>
  </form>
</div>
