{% from "macros/csrf.njk" import csrfProtection %}

<div id='openingTimesTab'>
  <form id="openingTimesForm" method="POST" action="/courts/{{slug}}/opening-times">
    {{ csrfProtection(csrfToken) }}
    <div id='openingTimesContent'></div>
  </form>
</div>
