{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

<h2 class="govuk-heading-l">Opening Hours</h2>

{{ govukDetails({
  summaryText: "Help with dates and times",
  html: "Government standards are available for
  <a href='https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#dates'
    target='_blank' rel='noopener noreferrer'>dates (opens in new tab)</a>
  and
  <a href='https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#times'
    target='_blank' rel='noopener noreferrer'>times (opens in new tab)</a> "})
}}

{% if errors|length %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}

{% if updated === true %}
  {{ govukPanel({
    titleText: "Opening Hours updated"
  }) }}
{% endif %}

{% set upArrowHtml = "&#11014" %}
{% set downArrowHtml = "&#11015" %}

{% for openingTime in opening_times %}

  {% set isNew = (openingTime.isNew === true) or (openingTime.isNew === "true") %}

  {% set descriptionError = false %}
  {% if openingTime.type_id === '' %}
    {% set descriptionError = { text: 'Description is required' } %}
  {% elif openingTime.isDuplicated === true %}
    {% set descriptionError = { text: 'Duplicated description' } %}
  {% endif %}

  {% set hoursError = false %}
  {% if openingTime.hours === '' %}
   {% set hoursError = { text: 'Hours is required' } %}
  {% endif %}

  {% call govukFieldset({
    classes: "can-reorder"
  }) %}

  {% if isNew === true %}
    <h3 class="govuk-heading-s">Add New Opening Hours</h3>
  {% endif %}

  <input type="hidden" name={{"opening_times[" + loop.index +"][isNew]"}} value={{openingTime.isNew}}></input>

  {{ govukSelect({
    id: "description-" + loop.index,
    name: "opening_times[" + loop.index +"][type_id]",
    label: {
      text: "Description"
    },
    errorMessage: descriptionError,
    items: openingTimeTypes | selectFilter(openingTime.type_id)
  }) }}

  {{ govukInput({
    label: {
      text: "Hours"
    },
    classes: "govuk-input--width-20",
    id: "hours-" + loop.index,
    name: "opening_times[" + loop.index +"][hours]",
    value: openingTime.hours,
    errorMessage: hoursError
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {% if isNew === false %}
        {{ govukButton({
          text: "Remove",
          name: "deleteOpeningHours",
          type: "button",
          classes: "govuk-button--secondary deleteOpeningTime"
        }) }}
      {% endif %}

      {% if isNew === true %}
        {{ govukButton({
          text: "Clear",
          name: "clearOpeningTime",
          type: "button",
          classes: "govuk-button--secondary clearOpeningTime"
        }) }}
      {% endif %}
    </div>

    <div class="govuk-grid-column-one-quarter govuk-button-group">
      {{ govukButton({
        html: upArrowHtml,
        name: "moveUp",
        type: "button",
        classes: "govuk-button--secondary move-up",
        attributes: { "aria-label": "move up" }
      }) }}

      {{ govukButton({
        html: downArrowHtml,
        name: "moveDown",
        type: "button",
        classes: "govuk-button--secondary move-down",
        attributes: { "aria-label": "move down" }
      }) }}
    </div>
  </div>

  <hr/>

  {% endcall %}

{% endfor %}


{% call govukFieldset({
  classes: "can-reorder",
  attributes: { id: "newOpeningTimeTemplate", disabled: "disabled", hidden: true }
}) %}

  <h3 class="govuk-heading-s">Add New Opening Hours</h3>

  <input type="hidden" name={{"opening_times[" + opening_times.length +"][isNew]"}} value="true"></input>

  {{ govukSelect({
    name: "opening_times[" + opening_times.length +"][type_id]",
    label: {
      text: "Type"
    },
    items: openingTimeTypes | selectFilter('')
  }) }}

  {{ govukInput({
    label: {
      text: "Hours"
    },
    classes: "govuk-input--width-20",
    name: "opening_times[" + opening_times.length +"][hours]"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {{ govukButton({
        text: "Clear",
        name: "clearOpeningTime",
        type: "button",
        classes: "govuk-button--secondary clearOpeningTime"
      }) }}
    </div>
    <div class="govuk-grid-column-one-quarter govuk-button-group">
      {{ govukButton({
        html: upArrowHtml,
        name: "moveUp",
        type: "button",
        classes: "govuk-button--secondary move-up",
        attributes: { "aria-label": "move up" }
      }) }}

      {{ govukButton({
        html: downArrowHtml,
        name: "moveDown",
        type: "button",
        classes: "govuk-button--secondary move-down",
        attributes: { "aria-label": "move down" }
      }) }}
      </div>
  </div>

  <hr/>

{% endcall %}

{{ govukButton({
  text: "Save",
  name: "saveOpeningTime",
  disabled : fatalError
}) }}

{{ govukButton({
  text: "Add new opening time",
  name: "addOpeningTime",
  type: "button",
  classes: "govuk-button--secondary addOpeningTime",
  disabled : fatalError
}) }}
