{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

<h2 class="govuk-heading-l">Phone Numbers</h2>

{{ govukDetails({
  summaryText: "Help with phone numbers",
  html: "Government standards for telephone numbers are available
  <a href='https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#telephone-numbers'
    target='_blank' rel='noopener noreferrer'>here</a>"})
}}

{% if errors|length %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}

{% if updated === true %}
  {{ govukPanel({
    titleText: "Phone Numbers updated",
    headingLevel: 2
  }) }}
{% endif %}

{% set upArrowHtml = "&#11014" %}
{% set downArrowHtml = "&#11015" %}

{% for contact in contacts %}

  {% set isNew = (contact.isNew === true) or (contact.isNew === "true") %}

  {% set descriptionError = false %}
  {% if (contact.type_id === '') and (contact.fax === false) %}
    {% set descriptionError = { text: 'Description is required for phone number ' + loop.index } %}
  {% endif %}

  {% set numberError = false %}
  {% if contact.number === '' %}
   {% set numberError = { text: 'Number is required for phone number ' + loop.index} %}
  {% endif %}

  {% call govukFieldset({
    classes: "can-reorder"
  }) %}

{% if isNew === false %}
      <h3 class="govuk-heading-s" name={{"contacts[" + links.length +"][header]"}} id="heading {{loop.index}}">Phone Number {{loop.index}} </h3>
    {% endif %}

    {% if isNew === true %}
      <h3 class="govuk-heading-s" name={{"contacts[" + links.length +"][header]"}} id="heading {{loop.index}}">Add New Phone Number {{loop.index}} </h3>
    {% endif %}

  <input type="hidden" name={{"contacts[" + loop.index +"][isNew]"}} value={{contact.isNew}}></input>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukSelect({
        id: "contactDescription-" + loop.index,
        name: "contacts[" + loop.index +"][type_id]",
        label: {
          text: "Description"
        },
        errorMessage: descriptionError,
        items: contactTypes | selectFilter(contact.type_id)
      }) }}
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-!-padding-bottom-6"></div>
      {{ govukCheckboxes({
        name: "contacts[" + loop.index + "][fax]",
        items: [
          {
            value: true,
            text: "Fax number",
            checked: contact.fax
          }
        ]
      }) }}
    </div>
  </div>

  {{ govukInput({
    label: {
      text: "Number"
    },
    classes: "govuk-input--width-20",
    id: "contactNumber-" + loop.index,
    name: "contacts[" + loop.index +"][number]",
    value: contact.number,
    errorMessage: numberError
  }) }}

  {{ govukInput({
    label: {
      text: "Explanation"
    },
    classes: "govuk-input--width-20",
    id: "contactExplanation-" + loop.index,
    name: "contacts[" + loop.index +"][explanation]",
    value: contact.explanation
  }) }}

  {{ govukInput({
    label: {
      text: "Explanation (Welsh)"
    },
    classes: "govuk-input--width-20",
    id: "contactExplanationCy-" + loop.index,
    name: "contacts[" + loop.index +"][explanation_cy]",
    value: contact.explanation_cy
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

    {% if isNew === false %}
      {{ govukButton({
        text: "Remove",
        name: "contacts[" + links.length +"][actionOnPhoneNumbers]",
        type: "button",
        classes: "govuk-button--secondary deletePhoneNumber"
      }) }}
    {% else %}
      {{ govukButton({
        text: "Clear",
        name: "contacts[" + links.length +"][actionOnPhoneNumbers]",
        type: "button",
        classes: "govuk-button--secondary clearPhoneNumber"
      }) }}
    {% endif %}

    </div>
    <div class="govuk-grid-column-one-quarter govuk-button-group">
      {{ govukButton({
        html: upArrowHtml,
        name: "contacts[" + links.length +"][moveUp]",
        type: "button",
        classes: "govuk-button--secondary move-up",
        attributes: { "aria-label": "move up contact number " + loop.index }
      }) }}

      {{ govukButton({
        html: downArrowHtml,
        name: "contacts[" + links.length +"][moveDown]",
        type: "button",
        classes: "govuk-button--secondary move-down",
        attributes: { "aria-label": "move down contact number " + loop.index }
      }) }}
    </div>
  </div>

  <hr/>

  {% endcall %}

{% endfor %}

{% call govukFieldset({
  classes: "can-reorder",
  attributes: { id: "newPhoneNumberTemplate", disabled: "disabled", hidden: true }
}) %}

  <h3 class="govuk-heading-s" name={{"contacts[" + links.length +"][header]"}} id="heading">Add New Phone Number {{links.length + 1}} </h3>

  <input type="hidden" name={{"contacts[" + contacts.length +"][isNew]"}} value="true"></input>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukSelect({
        id: "contactDescription-" + contacts.length,
        name: "contacts[" + contacts.length +"][type_id]",
        label: {
          text: "Description"
        },
        items: contactTypes | selectFilter('')
      }) }}
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-!-padding-bottom-6"></div>
      {{ govukCheckboxes({
        name: "contacts[" + contacts.length + "][fax]",
        items: [
          {
            value: true,
            text: "Fax number"
          }
        ]
      }) }}
    </div>
  </div>

  {{ govukInput({
    label: {
      text: "Number"
    },
    classes: "govuk-input--width-20",
    id: "contactNumber-" + contacts.length,
    name: "contacts[" + contacts.length +"][number]"
  }) }}

  {{ govukInput({
    label: {
      text: "Explanation"
    },
    classes: "govuk-input--width-20",
    id: "contactExplanation-" + contacts.length,
    name: "contacts[" + contacts.length +"][explanation]"
  }) }}

  {{ govukInput({
    label: {
      text: "Explanation (Welsh)"
    },
    classes: "govuk-input--width-20",
    id: "contactExplanationCy-" + contacts.length,
    name: "contacts[" + contacts.length +"][explanation_cy]"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {{ govukButton({
        text: "Clear",
        name: "contacts[" + links.length +"][actionOnPhoneNumbers]",
        type: "button",
        classes: "govuk-button--secondary clearPhoneNumber"
      }) }}
    </div>
    <div class="govuk-grid-column-one-quarter govuk-button-group">
      {{ govukButton({
        html: upArrowHtml,
        name: "contacts[" + links.length +"][moveUp]",
        type: "button",
        classes: "govuk-button--secondary move-up",
        attributes: { "aria-label": "move up phone number " + loop.index }
      }) }}

      {{ govukButton({
        html: downArrowHtml,
        name: "contacts[" + links.length +"][moveDown]",
        type: "button",
        classes: "govuk-button--secondary move-down",
        attributes: { "aria-label": "move down phone number " + loop.index }
      }) }}
    </div>
  </div>

<hr/>

{% endcall %}

{{ govukButton({
  text: "Save",
  name: "savePhoneNumbers",
  disabled: fatalError
}) }}

{{ govukButton({
  text: "Add new phone number",
  name: "addPhoneNumber",
  type: "button",
  classes: "govuk-button--secondary addPhoneNumber",
  disabled: fatalError
}) }}
