{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<h2 class="govuk-heading-l">Postcodes</h2>

{{ govukDetails({
  summaryText: "Help with postcodes",
  html: "Only full or partials postcodes are accepted. For example, SA1 1AA, or SA1."})
}}

{% if updated === true and not errors|length %}
  {{ govukPanel({
    titleText: "Postcodes updated"
  }) }}
{% endif %}

{% if errors|length %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}

{% if searchValue == '' and updated and errors|length %}
  {% set addError = { text: 'One or more postcodes are required.' } %}
{% elif searchValue != '' and updated and errors|length %}
  {% set addError = { text: 'Please make sure that postcodes are not already added for this court.' } %}
{% endif %}

{{ govukInput({
  label: {
    text: "Add postcodes:",
    classes: "govuk-label--s",
    isPageHeading: false
  },
  hint: {
    text: "Please add a comma separated list of postcodes.
    These can be case insensitive, and spaces are not significant."
  },
  value: searchValue if updated,
  id: "addNewPostcodes",
  name: "addNewPostcodes",
  errorMessage: addError
}) }}

{{ govukButton({
  text: "Add",
  name: "addPostcodes",
  type: "button",
  classes: "addPostcodes",
  attributes: { existingPostcodes: postcodes }
}) }}
