{% from "macros/csrf.njk" import csrfProtection %}

In postcodes.njk

<div id='postcodesTab'>
  <form id="postcodesForm" method="POST" action="/courts/{{slug}}/postcodes">
    {{ csrfProtection(csrfToken) }}
    <div id='postcodesContent'></div>
  </form>
</div>
