{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

<h2 class="govuk-heading-l">Single point of Entry</h2>

{% if errorMsg|length %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errorMsg
  }) }}
{% endif %}

{% if updated === true %}
  {{ govukPanel({
    titleText: "Single point of entries updated",
    headingLevel: 2
  }) }}
{% endif %}

 {% set courtSpoeAreasOfLawNames = [] %}
  {% for areaOfLaw in courtSpoeAreasOfLaw %}
    {% set courtSpoeAreasOfLawNames =
      (courtSpoeAreasOfLawNames.push(areaOfLaw.name), courtSpoeAreasOfLawNames) %}
  {% endfor %}

{% set allSpoeAreasOfLawItems = [] %}
{% for areaOfLaw in allSpoeAreasOfLaw %}
    {% set checked = true if areaOfLaw.name in courtSpoeAreasOfLawNames else false %}
    {% set id = areaOfLaw.name | replace(" ", "-") | lower + '1' %}
    {% set allSpoeAreasOfLawItems =
      (allSpoeAreasOfLawItems.push({
        attributes: { 'data-inputType': 'spoe-area-of-law', 'aria-checked': checked, 'data-id': areaOfLaw.id },
        'text': areaOfLaw.name,
        'value': areaOfLaw.name,
        'id': id,
        'checked': checked
      }), allAreasOfLawItems) %}
  {% endfor %}

{{ govukCheckboxes({
  name: "court_spoe_areas_of_law",
  items: allSpoeAreasOfLawItems|sort(false, true, 'text')
}) }}


{{ govukButton({
  text: "Update",
  name: "saveSpoe",
  disabled: fatalError
}) }}
