{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
<h2 class="govuk-heading-l">Court Types and Codes</h2>

{% if errorMsg != '' %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
      {
        text: errorMsg
      }
    ]
  }) }}
{% endif %}

{% if updated === true %}
  {{ govukPanel({
    titleText: "Court Types and Codes updated",
    headingLevel: 2
  }) }}
{% endif %}

{% for courtType in courtTypes %}

{% if courtType.magistrate  %}

 {% set magistratesCodeError = false %}
  {% if courtType.checked and courtType.code | valid === false %}
   {% set magistratesCodeError = { text: 'Magistrates code is required and must be numeric. eg(1234)' } %}
  {% endif %}

{% set magistratesCourtCodeHtml %}
{{ govukInput({
 label: {
    text: "Magistrates' Court Code"
  },
  classes: "govuk-!-width-one-third",
  id: "magistratesCourtCode",
  name: "magistratesCourtCode",
  type: "text",
  value: courtType.code,
  errorMessage: magistratesCodeError

}) }}
{% endset -%}

{% set courtType = courtType | setAttribute('conditional',{ html: magistratesCourtCodeHtml }) %}

{% endif %}




{% if courtType.county %}

{% set countyCourtCode = false %}
 {% if courtType.checked and  courtType.code | valid === false  %}
   {% set countyCourtCode = { text: 'County code is required and must be numeric. eg(1234)' } %}
 {% endif %}

{% set countyCourtCodeHtml %}
{{ govukInput({
  id: "countyCourtCode",
  name: "countyCourtCode",
  type: "text",
  value: courtType.code,
  errorMessage: countyCourtCode,
  classes: "govuk-!-width-one-third",
  label: {
    text: "County Court Code"
  }
}) }}
{% endset -%}

{% set courtType = courtType | setAttribute('conditional',{ html: countyCourtCodeHtml }) %}

{% endif %}


{% if courtType.family %}

  {% set familyCourtCode = false %}
  {% if courtType.checked and  courtType.code | valid === false  %}
    {% set familyCourtCode = { text: 'Family court code is required and must be numeric. eg(1234)' } %}
  {% endif %}

  {% set familyCourtCodeHtml %}
    {{ govukInput({
      id: "familyCourtCode",
      name: "familyCourtCode",
      type: "text",
      value: courtType.code,
      errorMessage: familyCourtCode,
      classes: "govuk-!-width-one-third",
      label: {
        text: "Family Court Code"
      }
    }) }}
  {% endset -%}

  {% set courtType = courtType | setAttribute('conditional',{ html: familyCourtCodeHtml }) %}
{% endif %}





{% if courtType.tribunal %}

  {% set locationCourtCode = false %}
  {% if courtType.checked and  courtType.code | valid === false  %}
    {% set locationCourtCode = { text: 'Tribunal location code is required and must be numeric. eg(1234)' } %}
  {% endif %}

  {% set locationCourtCodeHtml %}
    {{ govukInput({
      id: "locationCourtCode",
      name: "locationCourtCode",
      type: "text",
      value: courtType.code,
      errorMessage: locationCourtCode,
      classes: "govuk-!-width-one-third",
      label: {
        text: "Tribunal Location Code"
      }
    }) }}
  {% endset -%}

  {% set courtType = courtType | setAttribute('conditional',{ html: locationCourtCodeHtml }) %}
{% endif %}




{% if courtType.crown %}

{% set crownCourtCode = false %}
 {% if courtType.checked and courtType.code | valid === false  %}
   {% set crownCourtCode = { text: 'Crown code is required and must be numeric. eg(1234)' } %}
 {% endif %}

{% set crownCourtCodeHtml %}
{{ govukInput({
  id: "crownCourtCode",
  name: "crownCourtCode",
  type: "text",
  value : courtType.code,
  errorMessage: crownCourtCode,
  classes: "govuk-!-width-one-third",
  label: {
    text: "Crown Court Code"
  }
}) }}
{% endset -%}

{% set courtType = courtType | setAttribute('conditional',{ html: crownCourtCodeHtml }) %}

{% endif %}

{% endfor %}

{{ govukCheckboxes({
  idPrefix: "court_types",
  name: "types",
  items: courtTypes
}) }}



<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-l">GBS Code</h2>

{{ govukInput({
  id: "gbsCode",
  name: "gbsCode",
  value: gbs,
  classes: "govuk-!-width-one-third",
  label: {
    text: "GBS Code"
  }
}) }}


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<h2 class="govuk-heading-l">Dx Codes</h2>

{% for dxCode in dxCodes %}

 {% set codeError = false %}
  {% if dxCode.code === '' %}
   {% set codeError = { text: 'Code is required' } %}
    {% elif dxCode.isDuplicated === true %}
       {% set codeError = { text: 'Duplicated code' } %}
  {% endif %}

{% call govukFieldset({
  }) %}

  {% if dxCode.isNew === true %}
    <h3 class="govuk-heading-s">Add New Dx Code</h3>
  {% endif %}

    <input type="hidden" name={{"dxCodes[" + loop.index +"][isNew]"}} value={{dxCodes.isNew}}></input>

  {{ govukInput({
         id: "code-" + loop.index,
         name: "dxCodes[" + loop.index +"][code]",
         value: dxCode.code,
         errorMessage: codeError,
         classes: "govuk-!-width-one-half",
         label: {
           text: "Code"
         }
       }) }}

  {{ govukInput({
         id: "explanation-" + loop.index,
         name: "dxCodes[" + loop.index +"][explanation]",
         value: dxCode.explanation,
         classes: "govuk-!-width-one-half",
         label: {
             text: "Explanation"
           }
         }) }}

  {{ govukInput({
         id: "explanationCy-" + loop.index,
         name: "dxCodes[" + loop.index +"][explanationCy]",
         value: dxCode.explanationCy,
         classes: "govuk-!-width-one-half",
         label: {
              text: "Explanation (Welsh)"
              }
         }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {% if not dxCode.isNew %}
        {{ govukButton({
          text: "Remove",
          name: "dxCodes[" + loop.index +"][actionOnCourtType]",
          type: "button",
          classes: "govuk-button--secondary deleteDxCode",
          attributes: { "aria-label": "remove dx code " + loop.index }
        }) }}
        {% endif %}

      {% if dxCode.isNew %}
           {{ govukButton({
             text: "Clear",
             name: "dxCodes[" + loop.index +"][actionOnCourtType]",
             type: "button",
             classes: "govuk-button--secondary clearDxCode",
             attributes: { "aria-label": "clear dx code " + loop.index }
           }) }}
      {% endif %}

    </div>

  </div>

   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  {% endcall %}

  {% endfor %}



  {% call govukFieldset({
  attributes: { id: "newDxCodeTemplate", disabled: "disabled", hidden: true }
    }) %}

  <h3 class="govuk-heading-s">Add New Dx Code</h3>


    {{ govukInput({
           name: "dxCodes[" + dxCodes.length +"][code]",
           classes: "govuk-!-width-one-half",
           label: {
             text: "Code"
           }
         }) }}

    {{ govukInput({
           name: "dxCodes[" + dxCodes.length +"][explanation]",
           classes: "govuk-!-width-one-half",
           label: {
               text: "Explanation"
             }
           }) }}

    {{ govukInput({
           name: "dxCodes[" + dxCodes.length +"][explanationCy]",
           classes: "govuk-!-width-one-half",
           label: {
                text: "Explanation (Welsh)"
                }
           }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
          {{ govukButton({
            text: "Clear",
            name: "dxCodes[" + loop.index +"][actionOnCourtType]",
            type: "button",
            classes: "govuk-button--secondary clearDxCode",
            attributes: { "aria-label": "clear dx code " + loop.index }
          }) }}
      </div>
    </div>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {% endcall %}


{{ govukButton({
  text: "Save",
  name: "saveCourtTypes",
  disabled: fatalError
}) }}




{{ govukButton({
  text: "Add new Dx code",
  name: "addDxCode",
  type: "button",
  classes: "govuk-button--secondary addDxCode",
  disabled: fatalError
}) }}



