{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% extends "template.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">Courts and tribunals</h1>

  <div id = 'tableContainer'>
    <input type='hidden' name='courtsUpdatedAscToggle' id='courtsUpdatedAscToggle' value='INACTIVE' />
    <input type='hidden' name='courtsNameAscToggle' id='courtsNameAscToggle' value='ASC' />

    <div id='courtOptionsRow' class='govuk-grid-row'>
      <div class='govuk-grid-column-one-half'>
        {{ govukInput({
          attributes: {
            placeholder: ' Search courts and tribunals'
          },
          prefix: {
            text: '🔎'
          },
          id: 'searchCourts',
          name: 'searchCourts'
        }) }}
      </div>

      <div id='toggleClosedCourtsDisplay' class='govuk-grid-column-one-quarter'>
       {{ govukCheckboxes({
         idPrefix: 'toggle-closed-courts-display',
         name: 'toggleClosedCourtsDisplay',
         classes: 'govuk-checkboxes--small',
         items: [
           {
             value: 'includeClosed',
             text: 'Include closed'
           }]
       }) }}
      </div>
    </div>

    <div id='numberOfCourts' class='govuk-hint'></div>

    {% set courtItems = [] %}
    {% for court in courts|sort(false, true, 'name') %}
      {% set courtItems = (courtItems.push([
        {
          attributes: {
            type: 'name',
            name: court.slug
          },
          text: court.name
        },
        {
          attributes: {
            type: 'displayed',
            value: court.displayed
          },
          text: '' if court.displayed else 'closed'
        },
        {
         attributes: {
            type: 'updated_at'
          },
         text: court.updated_at
        },
        {
          html: '<a id="view-' + court.slug + '" class="govuk-link" href="' + factFrontendURL +  '/courts/' + court.slug + '">view</a>'
        },
        {
          html: '<a id="edit-' + court.slug + '" class="govuk-link" href="/courts/' + court.slug + '/edit#general">edit</a>'
        }
        ]), courtItems) %}
    {% endfor %}

    {{ govukTable({
      id: 'courtsResults',
      name: 'courtResults',
      attributes: {
        id: 'courtResults'
      },
      head: [
        {
          text: 'Name',
          attributes: {
            id: 'tableCourtsName'
          },
          classes: 'govuk-!-width-one-half courts-table-header'
        }, {},
        {
          text: "Last updated",
          attributes: {
            id: 'tableCourtsUpdated'
          },
          classes: 'courts-table-header'
        },
        {},
        {}
      ],
      rows: courtItems
    }) }}
  </div>

{% endblock %}
