{% extends "template.njk" %}

{% block pageTitle %}
  Court Details
{% endblock %}

{% block beforeContent %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <a id="courts" class="govuk-link govuk-link--no-visited-state" href="/courts">courts</a>
    </div>

    <div class="govuk-grid-column-one-quarter">
      <a id="my-account" class="govuk-link govuk-link--no-visited-state" href="#">my account</a>
      <a id="logout" class="govuk-link govuk-link--no-visited-state" href="/logout">log out</a>
    </div>
  </div>

{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">You are logged in</h1>
{% endblock %}
