{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "template.njk" %}
{% block pageTitle %}Courts and tribunals{% endblock %}
{% block content %}
  <h1 class="govuk-heading-xl">Courts and tribunals</h1>


  {% if errors|length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors
    }) }}
  {% endif %}

  <div id = 'tableContainer'>
    <div id='courtOptionsRow' class='govuk-grid-row'>
      <div class='govuk-grid-column-one-half'>
        {{ govukInput({
          attributes: {
            placeholder: ' Search courts and tribunals'
          },
          prefix: {
            text: '🔎'
          },
          id: 'searchCourts',
          name: 'searchCourts'
        }) }}
      </div>

    {% set regionItems = [] %}
    {% set regionItems = (regionItems.push(
      {
        attributes: {
          'data-type': 'name',
          'data-name': base
        },
        value: null,
        text: 'Select Region',
        selected: true
      }
    ), regionItems) %}
    {% for region in regions|sort(false, true, 'name') %}
      {% set regionItems = (regionItems.push(
          {
            attributes: {
              'data-type': 'name',
              'data-name': region.name
            },
            value: region.id,
            text: region.name,
            selected: false
          }
        ), regionItems) %}
    {% endfor %}

      <div id='regions' class='govuk-grid-column-one-quarter'>
        {{ govukSelect({
          id: "regionSelector",
          name: "regionSelector",
          value: regionItems.value,
          items: regionItems
        }) }}
      </div>

      <div id='toggleClosedCourtsDisplay' class='govuk-grid-column-one-quarter'>
       {{ govukCheckboxes({
         idPrefix: 'toggle-closed-courts-display',
         name: 'toggleClosedCourtsDisplay',
         classes: 'govuk-checkboxes--small',
         items: [
           {
             value: 'includeClosed',
             text: 'Include closed'
           }]
       }) }}
      </div>
    </div>

    <div id='numberOfCourts' class='govuk-hint'></div>

    {% set courtItems = [] %}
    {% for court in courts|sort(false, true, 'name') %}
      {% set courtItems = (courtItems.push([
        {
          attributes: {
            'data-type': 'name',
            'data-name': court.slug
          },
          text: court.name,
          classes: 'courtTableColumnName'
        },
        {
          attributes: {
            'data-type': 'region',
            'data-name': court.region
          },
          text: court.region,
          classes: 'courtTableColumnRegion'
        },
        {
          attributes: {
            'data-type': 'displayed',
            'data-displayed': court.displayed
          },
          text: '' if court.displayed else 'closed',
          classes: 'courtTableColumnDisplayed'
        },
        {
         attributes: {
            'data-type': 'updated_at'
          },
         text: court.updated_at,
         classes: 'courtTableColumnLastUpdated'
        },
        {
          html: '<a id="view-' + court.slug + '" class="govuk-link" href="' + factFrontendURL +  '/courts/' + court.slug + '">view</a>'
        },
        {
          html: '<a id="edit-' + court.slug + '" class="govuk-link" href="/courts/' + court.slug + '/edit#general">details</a>' if isViewer else '<a id="edit-' + court.slug + '" class="govuk-link" href="/courts/' + court.slug + '/edit#general">edit</a>'
        }
        ]), courtItems) %}
    {% endfor %}

    {{ govukTable({
      id: 'courtsResults',
      name: 'courtResults',
      attributes: {
        id: 'courtResults'
      },
      head: [
        {
          text: 'Name',
          attributes: {
            id: 'tableCourtsName'
          },
          classes: 'govuk-!-width-one-half courts-table-header courts-table-header-inactive'
        },
        {},
        {
          text: "Last updated",
          attributes: {
            id: 'tableCourtsUpdated'
          },
          classes: 'courts-table-header courts-table-header-inactive'
        },
        {},
        {}
      ],
      rows: courtItems
    }) }}
  </div>

{% endblock %}
