{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "macros/errorSummary.njk" import errorSummary %}
{% from "macros/tabs/macro.njk" import factTabs %}

{% extends "template.njk" %}

{% block pageTitle %}
  Edit Court
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if updated %}
        <div class="govuk-panel govuk-panel--confirmation" id="updated-message">
          <h1 class="govuk-panel__title">
            Court information updated
          </h1>
        </div>
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <h1 id="court-name" class="govuk-heading-l">
            {% if isViewer %}
              Details - {{ name }}
            {% else %}
              Editing - {{ name }}
            {% endif %}
          </h1>
        </div>

        <div class="govuk-grid-column-one-quarter">
          <a id="view-in-new-window" class="govuk-link" rel="noreferrer noopener" target="_blank"
            href="{{ factFrontendURL }}/courts/{{ slug }}">View court in new tab</a>
        </div>
      </div>
      {{ errorSummary(error)}}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% set generalHtml %}
              {% include "./tabs/general.njk" %}
            {% endset -%}
            {% set openingHoursHtml %}
              {% include "./tabs/openingHours.njk" %}
            {% endset -%}
            {% set phoneNumbersHtml %}
               {% include "./tabs/phoneNumbers.njk" %}
            {% endset -%}
            {% set emailsHtml %}
               {% include "./tabs/emails.njk" %}
            {% endset -%}
            {% set courtTypesHtml %}
                {% include "./tabs/types.njk" %}
            {% endset -%}
            {% set courtFacilitiesHtml %}
              {% include "./tabs/facilities.njk" %}
            {% endset -%}
            {% set postcodesHtml %}
              {% include "./tabs/postcodes.njk" %}
            {% endset -%}
            {% set localAuthoritiesHtml %}
                {% include "./tabs/localAuthorities.njk" %}
            {% endset -%}
            {% set casesHeardHtml %}
                {% include "./tabs/casesHeard.njk" %}
            {% endset -%}
            {% set addressesHtml %}
                {% include "./tabs/addresses.njk" %}
            {% endset -%}
            {% set photoHtml %}
                {% include "./tabs/photo.njk" %}
            {% endset -%}
            {% set additionalLinksHtml %}
              {% include "./tabs/additionalLinks.njk" %}
            {% endset -%}
            {% set spoeHtml %}
              {% include "./tabs/spoe.njk" %}
            {% endset -%}
            {% set applicationProgressionHtml %}
              {% include "./tabs/applicationProgression.njk" %}
            {% endset -%}

             <input id='slug' type='hidden' value='{{slug}}'></input>

            {% set tabItems = [] %}

            {% if featureFlags.values[featureFlags.flags.FACT_ADMIN_TAB_GENERAL] or featureFlags.values|length == 0 %}
              {% set generalTab =
                {
                  label: "General",
                  id: "general",
                  panel: {
                    html: generalHtml
                  }
                }
              %}
            {% endif %}

            {% if featureFlags.values[featureFlags.flags.FACT_ADMIN_TAB_OPENING_HOURS] or featureFlags.values|length == 0 %}
              {% set openingHoursTab =
                {
                  label: "Opening Hours",
                  id: "opening-hours",
                  panel: {
                    html: openingHoursHtml
                  }
                }
              %}
            {% endif %}

            {% if featureFlags.values[featureFlags.flags.FACT_ADMIN_TAB_PHONE_NUMBERS] or featureFlags.values|length == 0 %}
              {% set phoneNumbersTab =
                {
                  label: "Phone Numbers",
                  id: "phone-numbers",
                  panel: {
                    html: phoneNumbersHtml
                  }
                }
              %}
            {% endif %}

            {% if featureFlags.values[featureFlags.flags.FACT_ADMIN_TAB_EMAILS] or featureFlags.values|length == 0 %}
              {% set emailsTab =
                {
                  label: "Emails",
                  id: "emails",
                  panel: {
                    html: emailsHtml
                  }
                }
              %}
            {% endif %}

            {% if featureFlags.values[featureFlags.flags.FACT_ADMIN_TAB_TYPES] or featureFlags.values|length == 0 %}
              {% set courtTypesTab =
                {
                  label: "Types",
                  id: "court-types",
                  panel: {
                    html: courtTypesHtml
                  }
                }
              %}
            {% endif %}

            {% if featureFlags.values[featureFlags.flags.FACT_ADMIN_TAB_FACILITIES] or featureFlags.values|length == 0 %}
              {% set courtFacilitiesTab =
                {
                  label: "Facilities",
                  id: "court-facilities",
                  panel: {
                    html: courtFacilitiesHtml
                  }
                }
              %}
            {% endif %}

            {% if featureFlags.values[featureFlags.flags.FACT_ADMIN_TAB_POSTCODES] or featureFlags.values|length == 0 %}
              {% set postcodesTab =
                {
                  label: "Postcodes",
                  id: "postcodes",
                  panel: {
                    html: postcodesHtml
                  }
                }
              %}
            {% endif %}

            {% if featureFlags.values[featureFlags.flags.FACT_ADMIN_TAB_LOCAL_AUTHORITIES] or featureFlags.values|length == 0 %}
              {% set localAuthoritiesTab =
                {
                  label: "Local Authorities",
                  id: "local-authorities",
                  panel: {
                    html: localAuthoritiesHtml
                  }
                }
              %}
            {% endif %}

            {% if featureFlags.values[featureFlags.flags.FACT_ADMIN_TAB_CASES_HEARD] or featureFlags.values|length == 0 %}
              {% set casesHeardTab =
                {
                  label: "Cases Heard",
                  id: "cases-heard",
                  panel: {
                    html: casesHeardHtml
                  }
                }
              %}
            {% endif %}

            {% if featureFlags.values[featureFlags.flags.FACT_ADMIN_TAB_ADDRESSES] or featureFlags.values|length == 0 %}
              {% set addressesTab =
                {
                  label: "Addresses",
                  id: "addresses",
                  panel: {
                    html: addressesHtml
                  }
                }
              %}
            {% endif %}

            {% if featureFlags.values[featureFlags.flags.FACT_ADMIN_TAB_PHOTO] or featureFlags.values|length == 0 %}
              {% set photoTab =
                {
                  label: "Photo",
                  id: "photo",
                  panel: {
                    html: photoHtml
                  }
                }
              %}
            {% endif %}

            {% if featureFlags.values[featureFlags.flags.FACT_ADMIN_TAB_ADDITIONAL_LINKS] or featureFlags.values|length == 0 %}
              {% set additionalLinksTab =
                {
                  label: "Additional Links",
                  id: "additional-links",
                  panel: {
                    html: additionalLinksHtml
                  }
                }
              %}
            {% endif %}

              {% set spoeTab =
                {
                  label: "SPoE",
                  id: "spoe",
                  panel: {
                    html: spoeHtml
                  }
                }
              %}


            {% set applicationProgressionTab =
              {
                label: "Application Progression",
                id: "application-progression",
                panel: {
                  html: applicationProgressionHtml
                }
              }
            %}


            {% if isViewer %}
              {% set tabItems = (tabItems.push(postcodesTab),tabItems) %}
              {% set tabItems = (tabItems.push(localAuthoritiesTab),tabItems) %}
            {% else %}
              {% set tabItems = (tabItems.push(generalTab),tabItems) %}
              {% set tabItems = (tabItems.push(openingHoursTab),tabItems) %}
              {% set tabItems = (tabItems.push(phoneNumbersTab),tabItems) %}
              {% set tabItems = (tabItems.push(emailsTab),tabItems) %}
              {% set tabItems = (tabItems.push(courtTypesTab),tabItems) %}
              {% set tabItems = (tabItems.push(courtFacilitiesTab),tabItems) %}
              {% set tabItems = (tabItems.push(casesHeardTab),tabItems) %}
              {% set tabItems = (tabItems.push(addressesTab),tabItems) %}
              {% set tabItems = (tabItems.push(photoTab),tabItems) %}
              {% set tabItems = (tabItems.push(applicationProgressionTab),tabItems) %}
              {% if isSuperAdmin %}
                {% set tabItems = (tabItems.push(postcodesTab),tabItems) %}
                {% set tabItems = (tabItems.push(localAuthoritiesTab),tabItems) %}
                {% set tabItems = (tabItems.push(additionalLinksTab),tabItems) %}
                {% set tabItems = (tabItems.push(spoeTab),tabItems) %}
              {% endif %}
            {% endif %}


          {% if not error %}
            {{ factTabs({
              id: 'Main',
              items: tabItems
            }) }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
