{% extends "template.njk" %}

{% block pageTitle %}
  Edit Court
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Editing - {{ court.name }}</h1>
  <a id="logout" href="/logout">Log out</a>
{% endblock %}
