{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "macros/tabs/macro.njk" import factTabs %}

{% extends "template.njk" %}

{% block content %}

  <h1 class="govuk-heading-xl">Edit A List</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% set localAuthoritiesHtml %}
        {% include "./tabs/localAuthoritiesList.njk" %}
      {% endset -%}
      {% set areasOfLawHtml %}
        {% include "./tabs/areasOfLaw.njk" %}
      {% endset %}
       {% set contactTypesHtml %}
         {% include "./tabs/contactTypes/contactTypes.njk" %}
      {% endset %}

      {% set tabItems = [
        {
          label: "Local Authorities",
          id: "local-authorities",
          panel: {
            html: localAuthoritiesHtml
          }
        },
        {
          label: "Areas of Law",
          id: "areas-of-law",
          panel: {
            html: areasOfLawHtml
          }
        },
        {
          label: "Contact Types",
          id: "contact-types",
          panel: {
            html: contactTypesHtml
           }
        }]
      %}

      {{ factTabs({
        items: tabItems
      }) }}
    </div>
  </div>
{% endblock %}
