{% extends "template.njk" %}
{% block pageTitle %}{{ 'Audits' | titleEnhancer }}{% endblock %}
{% block content %}
<form id="auditsSearchForm" method="GET" class='govuk-grid-row'>
  <div id = 'auditsPageContent'></div>
</form>
{% endblock %}
