{% extends "template.njk" %}
{% block content %}
<form id="auditsSearchForm" method="GET" class='govuk-grid-row'>
  <!-- Audit data appears here -->
  <div id = 'auditsPageContent'></div>
</form>
{% endblock %}
